---
import Layout from "../../layouts/Layout.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";
import CardforCountry from "../../components/CardforCountry.astro";
import SupportBanner from "../../components/SupportBanner.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import SeeOtherProjectCard from "../../components/SeeOtherProjectCard.astro";

const OtherProject = [
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/03/80953110-f97e-4453-986d-5774276033de-1024x768.jpg",
    title: "Turkey & Syria Earthquake Appeal",
    description:
      "In early February 2023, Turkiye was hit by a devastating series of major earthquakes near the border with Syria. Tragically,",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/IMG_6194a-1024x683.jpg",
    title: "Afghanistan Earthquake Appeal",
    description:
      "The long-suffering Afghans once again face a daunting challenge as a massive earthquake measuring 6.3 in magnitude, struck on both",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_3855-1024x768.jpg",
    title: "Morocco Earthquake Appeal",
    description:
      "A disastrous earthquake struck Morocco on Friday night, September 8th, at just past 11 PM local time resulting in a",
  },
];

const HeaderBannerData = [
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/10/1863982.jpg",
    title: "AFGHAINSTAN \nEARTHQUAKE APPEAL",
  },
];
const SupportBannerDetails = [
  {
    src: "/assets/images/Help-The-Homeless-in-UK.jpg",
    leftDescription: "SUPPORT \nROHINGYA \nREEFUGEES: \nDONATE FOOD AND WATER ",
    rightDescription:
      "Since 2001, Afghanistan has been facing instability that resulted in malnutrition, severe poverty, and hindered access to basic necessities. As of April 2023, more than 40% of the population is facing alarming levels of acute food insecurity. In such a situation, the earthquake has pushed Afghanistan into a most severe humanitarian crisis. There are millions of people struggling through the aftermath of the natural disaster and acute levels of food deprivation. Your donation towards the Afghanistan Emergency Appeal can help us save lives!",
  },
];

const CountryCard = [
  {
    name: "Pakistan",
    title: "Medical Aid",
    amount: "ANY AMOUNT",
    src: "",
  },
  {
    name: "Afghanistan",
    title: "Food Pack",
    amount: "50.00",
    src: "",
  },
  {
    name: "Bangladesh",
    title: "Cooked Food",
    amount: "100.00",
    src: "",
  },
];
---

<Layout>
  <!-- <div class="relative w-full"> -->
  <!-- Banner Image -->
  <!-- <img
            src=""
            class="w-full sm:h-96 md:h-[510px]  object-cover"
            alt="Website banner UK winter"
        /> -->

  <!-- Gradient Overlay -->
  <!-- <div class="absolute inset-0 bg-gradient-to-t from-[#740B2E] via-transparent to-[#94434A00] opacity-60"></div> -->

  <!-- Text Overlay at the bottom -->
  <!-- <div class="absolute bottom-3 left-0 sm:bottom-1 w-full p-4">
            <p class="text-lg md:text-5xl text-white text-center font-bold">
                AFGHAINSTAN <br/> EARTHQUAKE APPEAL
            </p>
        </div> -->

  <HeadersBanner HeadersBanners={HeaderBannerData} />

  <UmmahCharity />

  <div class="container">
    <div class="row">
      <p class="text-center text-3xl text-maroon font-bold mt-16">
        Afghanistan Earthquake Appeal
      </p>
      <p class="mt-7 text-grey text-lg font-medium text-center md:px-32">
        The long-suffering Afghans once again face a daunting challenge as a
        massive earthquake measuring 6.3 in magnitude, struck on both Saturday,
        October 7, and subsequently on October 11, 2023. This catastrophic event
        has resulted in a death toll of over 1,000 people, whereas 2,000 have
        been registered for sustaining injuries.
      </p>
      <p class="mt-7 text-grey text-lg font-medium text-center md:px-32">
        The earthquake’s epicentre was located 40 kilometres to the northwest of
        Herat, a city in Afghanistan. <br />
        Its impact extended to 12 nearby villages, all of which experienced significant
        damage. The earthquake <br />
        led to the destruction of 1,320 houses with reports emerging of families
        being trapped within the <br />
        debris of their houses <span class="text-grey text-xl font-bold"
          >Donate to Afghanistan</span
        > Appeal and help us provide relief to the Afghan <br />
        earthquake victims.
      </p>
    </div>
  </div>
  <CardforCountry CountryCardDetails={CountryCard} />

  <div class="container mx-auto px-4 mt-16">
    <div class="relative overflow-hidden pb-[40%]">
      <iframe
        class="absolute top-0 left-0 w-full h-full"
        src="https://www.youtube.com/embed/rKE-aUoKWhE?si=Hix0Wt-am77ezPpB"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>

  <SupportBanner BannerDetails={SupportBannerDetails} />

  <div class="container mx-auto px-4">
    <div class="mt-16">
      <div>
        <p class="text-maroon text-2xl md:text-3xl font-semibold text-left">
          How Al-Wahab Foundation is Responding to Natural Disasters?
        </p>
        <div class="flex flex-col md:flex-row mt-8">
          <p class="w-full md:w-3/4 text-base md:text-xl leading-relaxed">
            Al-Wahab Foundation, under the supervision of Chairman 
            <a class="text-maroon font-bold" href="#">Mufti Abdul Wahab</a>, has consistently taken the lead in responding to global emergency situations. 
            Whether facing earthquakes, <a class="text-maroon font-bold hover:text-customBeige" href="#">floods</a>, or pandemics, Al-Wahab Foundation team has been committed to being on the ground, ensuring that every affected individual receives vital <a class="text-maroon font-bold hover:text-customBeige" href="#">emergency relief aid</a>.
            <br /><br />
            Our team believes in finding ways to reach those in dire need. Considering the intensity of destruction and misery of the people in <span class="text-grey font-bold">Afghanistan</span>, we are committed to pooling resources to provide immediate assistance during emergencies. Nevertheless, your support remains crucial. Support us and <span class="text-grey font-bold">donate to Afghanistan</span> appeal to provide relief to as many earthquake victims as possible.
          </p>
          <div class="w-full md:w-1/4 mt-8 md:mt-0 flex justify-center">
            <img class="w-80 h-48 object-cover" src="https://alwahabfoundation.org/wp-content/uploads/2023/12/IMG_99191a-768x576.jpg" alt="Image" />
          </div>
        </div>
      </div>
  
      <div class="mt-8">
        <p class="text-maroon font-semibold text-left text-2xl md:text-3xl">
          How to Donate to Afghanistan Emergency Appeal?
        </p>
        <div class="flex flex-col md:flex-row mt-8">
          <div class="w-full md:w-1/4 flex justify-center">
            <img class="w-80 h-48 object-cover" src="https://alwahabfoundation.org/wp-content/uploads/2023/12/IMG_6216a-768x512.jpg" alt="Donation Image" />
          </div>
          <p class="w-full md:w-3/4 text-base md:text-xl leading-relaxed mt-8 md:mt-0 md:ml-8">
            <span class="text-grey font-bold">Online Donation:</span> You can easily <span class="text-grey font-bold">donate to Afghanistan</span>
            <a class="text-maroon font-bold hover:text-customBeige" href="#">Earthquake Appeal</a>
            through our secure online donation portal. Your contribution, no matter how small, can make a big difference.
            <br /><br />
            <span class="text-grey font-bold">Our Donation Hotline:</span> Apart from our online portal, you can donate to Afghanistan Earthquake Emergency Relief activities by calling us on our donation hotline at 020 8903 8944.
            <br /><br />
            Your contribution provides emergency kits including food, clean water, medical supplies, and necessities. Support Al-Wahab Foundation to revive hope in the lives of the people of Afghanistan!
=======

      <!-- Donation Information Section -->
      <div class="mt-8">
        <p class="text-maroon font-semibold text-center md:text-3xl md:text-left">
          How to Donate to Afghanistan Emergency Appeal?
        </p>
        
        <!-- Donation Details Section with Text and Image -->
        <div class="flex flex-col md:flex-row md:space-x-8 text-xl">
          <!-- Image Section -->
          <p class="w-full md:w-1/4 mt-20">
            <img class="w-full h-56 object-cover" src="https://picsum.photos/200" alt="Donation Image" />
          </p>

          <!-- Donation Text Content -->
          <p class="w-full md:w-3/4 text-center md:text-left md:ml-20 mt-12">
            <span class="text-grey font-bold">Online Donation:</span> You can easily 
            <span class="text-grey font-bold">donate to Afghanistan</span>
            <a class="text-maroon font-bold" href="">Earthquake Appeal</a> 
            through our secure online donation portal. Your contribution, no matter how 
            small, can make a big difference. <br />

            <span class="text-grey font-bold">Our Donation Hotline:</span> Apart 
            from our online portal, you can donate to 
            <span class="text-grey">Afghanistan Earthquake Emergency Relief activities</span> 
            by calling us on our donation hotline at 020 8903 8944. <br />

            You have the power to make a significant difference by generously contributing 
            towards the <span class="text-grey font-bold">Afghanistan Emergency Appeal</span> 
            to distribute <a class="text-maroon font-bold" href="">Emergency Kits</a>, 
            which include provisions such as food, clean water, medical supplies, and 
            essential necessities. Join hands with Al-Wahab Foundation to help revive hope 
            in the lives of the people of Afghanistan and enable them to live again!
>>>>>>> 52fce0aa5bba331ebb8e134ad510637e1894b961
          </p>
        </div>
      </div>
    </div>
  
    <div class="flex justify-center mt-10">
      <a class="text-lg md:text-xl font-bold text-white px-5 py-2 rounded-full bg-maroon hover:bg-customBeige" href="#">
        DONATE TO AFGHANISTAN EARTHQUAKE APPEAL
      </a>
    </div>
  </div>
  
  <!--See other project -->
  <div class="container">
    <div class="row">
      <p class="text-3xl text-grey font-semibold text-center py-8 mt-20">
        See Other Projects
        <SeeOtherProjectCard SeeOtherProjects={OtherProject} />
      </p>
    </div>
  </div>
</Layout>
