---
import Layout from "../layouts/Layout.astro";
import HeadersBanner from "../components/HeadersBanner.astro";
import UmmahCharity from "../components/Ummah_Charity.astro";
import SupportBanners from "../components/SupportBanner.astro";
import ImageCarousel from "../components/ImageCarousel.astro";
import ZakatCalculator from "../components/ZakatCalculator.astro";
import NewsLetter from "../components/NewsLetter.astro";

const HeaderBanned = [
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/2022/09/IMG_8902.jpg",
        title: "ABOUT US",
        titleline1: "",
        titleline2: "",
    },
];

const SupportBannerData = [
    {
        leftDescription: "ABOUT AWF",
        rightDescription:
            "AWF (previously known as Ummah Charity International) has been creating networks of care and relief since 2014. Our chairperson, Mufti Abdul Wahab, has seen first-hand the devastation caused by natural disaster in underdeveloped countries where the most vulnerable suffer the most. From these experiences, AWF was founded and has grown today to help thousands of people suffering extreme poverty and living in desperate conditions.",
        src: "https://alwahabfoundation.org/wp-content/uploads/2022/06/cc88100de121c6e1ac8386e1b4ca334b.jpg",
    },
];

const ImagesCarousel = [
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/elementor/thumbs/WhatsApp-Image-2023-03-03-at-2.52.53-PM-qo0a81crbkqzlqkhdsb18qx9r8h3zrs4bma3rnu9s0.jpeg",
        alt: "",
    },
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/elementor/thumbs/WhatsApp-Image-2023-03-03-at-7.48.57-AM-qo0a7n96h27orl4yo47mpchcugelsb859ohtkif6dc.jpeg",
        alt: "",
    },
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/elementor/thumbs/IMG_2064-qo0a71mw3ve3ck0d6cv7lzxr6ld5v9ubiphnj5b8cg.jpg",
        alt: "",
    },
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/elementor/thumbs/Uganda-Case-Study-Hussain-qo0a7hm5c1zytxd5l1rvadwla56ei4lr8wkwounjeo.jpg",
        alt: "",
    },
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/elementor/thumbs/Uganda-Case-Study-Mansoor-qo0a76c321kiyltjewwcggr25ipzxrcz7cr2xj49hc.jpg",
        alt: "",
    },
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/elementor/thumbs/Uganda-Case-Study-Rajab-qo0a7hm5c1zytxd5l1rvadwla56ei4lr8wkwounjeo.jpg",
        alt: "",
    },
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/elementor/thumbs/ugana-water-well-pic-qo0a7bz471s8w9lchzc3vfbtpty77xzd84nzt6vwg0.jpg",
        alt: "",
    },
];
---

<Layout>
    <HeadersBanner HeadersBanners={HeaderBanned} />
    <UmmahCharity />

    <div class="container">
        <div class="row">
            <p class="text-4xl text-maroon font-bold text-center pt-16">
                Overview
            </p><br />
            <p class="text-lg text-center px-10 font-medium">
                Since 2014, <strong class="text-grey"
                    >Al-Wahab Foundation (AWF)</strong
                > has delivered emergency<br />
                and developmental aid to combat and eradicate poverty, growing to
                reach thousands of <br />people each year. Our aim is to see a
                world where people are empowered to be able<br /> to step up out
                of deprivation and build their future with independence and dignity.<br
                /> With your support, our aid solutions serve people in remote and
                rural areas, providing<br /> food, clean water, healthcare, education
                and innovative livelihood support programmes.
            </p>
            <p class="flex justify-center my-7">
                <a
                    href=""
                    class="px-7 text-xl font-bold py-2.5 bg-maroon text-white hover:bg-customBeige rounded-full uppercase"
                    >READ OUR CHAIRMAN’S MESSAGE</a
                >
            </p>
        </div>
    </div>

    <div
        class="relative w-full px-4 mt-20 sm:px-6 lg:px-8 bg-cover bg-fixed bg-center bg-no-repeat bg-[url('https://alwahabfoundation.org/wp-content/uploads/2022/06/cc88100de121c6e1ac8386e1b4ca334b.jpg')]"
    >
        <div class="absolute inset-0 bg-[#740B2E] opacity-70"></div>
        <div
            class="relative z-10 text-white text-center flex items-center justify-start py-16 sm:py-24 w-full"
        >
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-full">
                <div
                    class="flex flex-col md:items-center items-start justify-center text-center sm:text-left"
                >
                    <p
                        class="text-2xl sm:text-3xl lg:text-[40px] font-bold leading-10 px-28"
                    >
                        ABOUT <br />AWF
                        <br />
                        <button
                            class="mt-6 uppercase bg-[#c9945a] hover:bg-white text-white hover:text-[#740B2E] duration-300 px-[30px] py-3 left-8 inline-flex rounded-full text-xl font-bold"
                        >
                            Get Involved
                        </button>
                    </p>
                </div>
                <div
                    class="flex flex-col items-center md:items-start justify-start text-center sm:text-left"
                >
                    <div class="mt-4 sm:mt-0">
                        <p
                            class="text-lg sm:text-xl lg:text-[27px] leading-8 font-medium mb-4"
                        >
                            AWF (previously known as Ummah Charity
                            International) has been creating networks of care
                            and relief since 2014. Our chairperson, Mufti Abdul
                            Wahab, has seen first-hand the devastation caused by
                            natural disaster in underdeveloped countries where
                            the most vulnerable suffer the most. From these
                            experiences, AWF was founded and has grown today to
                            help thousands of people suffering extreme poverty
                            and living in desperate conditions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <p
                class="md:text-4xl text-lg text-center font-bold text-maroon px-20 py-8"
            >
                AWF Vision & Mission
            </p>
            <p class="md:text-lg text-base leading-[22px] text-grey font-medium md:px-24">
                <span class="text-maroon text-lg md:text-lg font-bold"
                    >Our vision</span
                ><br /><br />
                At Al-Wahab Foundation our vision is to address the root causes of
                poverty by ensuring that every individual in our society can earn
                a stable livelihood to support their needs and that of their family.
                With your donations, we provide aid solutions that meet basic and
                immediate needs such as food, clean water and healthcare, supporting
                people in crisis. Due to your generosity and compassion, our developmental
                programmes help people by providing business support, finance, training,
                tools and resources so they can learn, achieve and earn.<br
                /><br />
                <span class="text-maroon text-lg md:text-lg font-bold"
                    >Our Mission</span
                ><br />
                Our mission, inspired by our founder <a
                    class="font-bold text-maroon hover:text-customBeige"
                    href="">Mufti Abdul Wahab</a
                >, is to provide sustainable solutions to people in poverty,
                empowering them to earn a stable living without the need for
                humanitarian support. Our programmes focus on providing access
                to economic stability that combats and eradicates poverty in all
                its forms.
            </p>
        </div>
    </div>
    <ImageCarousel imageCarousel={ImagesCarousel} />

    <p
        class="md:text-4xl text-lg text-center font-bold text-maroon px-20 py-12"
    >
        Our Values
    </p>
    <div
        class="container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-30px md:px-16"
    >
        <!--  subject cards  -->

        <!-- card 1 -->
        <div data-aos="fade-up">
            <div
                style="box-shadow: 0px 0px 10px 2px rgba(90,89,89,0.418);"
                class="p-30px group bg-whiteColor rounded-xl transition-all shadow-grey duration-300 hover:-translate-y-5px "
            >
                <!-- card svg -->
                <div
                    class="-translate-y-2 flex justify-between overflow-hidden mb-10px"
                >
                    <div class="relative w-20 h-[60px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide text-maroon lucide-hand-heart absolute inline-block translate-y-2 translate-x-1 w-20 h-[60px]"
                            ><path
                                d="M11 14h2a2 2 0 1 0 0-4h-3c-.6 0-1.1.2-1.4.6L3 16"
                            ></path><path
                                d="m7 20 1.6-1.4c.3-.4.8-.6 1.4-.6h4c1.1 0 2.1-.4 2.8-1.2l4.6-4.4a2 2 0 0 0-2.75-2.91l-4.2 3.9"
                            ></path><path d="m2 15 6 6"></path><path
                                d="M19.5 8.5c.7-.7 1.5-1.6 1.5-2.7A2.73 2.73 0 0 0 16 4a2.78 2.78 0 0 0-5 1.8c0 1.2.8 2 1.5 2.8L16 12Z"
                            ></path></svg
                        >
                    </div>
                </div>
                <!-- card content -->
                <div>
                    <a
                        href="#"
                        class="text-size-22 sm:text-size-17 md:text-lg leading-6 sm:leading-15px md:leading-29px lg:leading-15px 2xl:leading-29px font-bold mb-5px text-maroon"
                    >
                        COMPASSION
                    </a>
                    <p class="text-[#333132] md:text-sm font-medium">
                        Inspired by the teaching of our faith, we believe in
                        kindness and compassion to all humanity, not only to
                        those who are in immediate need and who struggle in
                        poverty, but to anyone facing challenges in life.
                    </p>
                </div>
            </div>
        </div>
        <!-- card 2 -->
        <div data-aos="fade-up">
            <div
                style="box-shadow: 0px 0px 10px 2px rgba(90,89,89,0.418);"
                class="p-30px group bg-whiteColor rounded-xl transition-all duration-300 hover:-translate-y-5px "
            >
                <!-- card svg -->
                <div
                    class="-translate-y-2 flex justify-between overflow-hidden mb-10px"
                >
                    <div class="relative w-20 h-[60px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-equal text-maroon absolute inline-block translate-y-1 translate-x-2 w-20 h-[60px]"
                            ><line x1="5" x2="19" y1="9" y2="9"></line><line
                                x1="5"
                                x2="19"
                                y1="15"
                                y2="15"></line></svg
                        >
                    </div>
                </div>
                <!-- card content -->
                <div>
                    <a
                        href="#"
                        class="text-size-22 sm:text-size-17 md:text-lg leading-6 sm:leading-15px md:leading-29px lg:leading-15px 2xl:leading-29px font-bold mb-5px text-maroon"
                    >
                        EQUALITY
                    </a>
                    <p class="text-[#333132] md:text-sm font-medium">
                        Islam teaches equality, irrespective of colour, class,
                        race, gender, age, disability, ethnicity, and religion.
                        This is our foundation and reflected across our work
                        serving people in need wherever they may be.
                    </p>
                </div>
            </div>
        </div>
        <!-- card 3 -->
        <div data-aos="fade-up">
            <div
                style="box-shadow: 0px 0px 10px 2px rgba(90,89,89,0.418);"
                class="p-30px group bg-whiteColor rounded-xl transition-all duration-300 hover:-translate-y-5px "
            >
                <!-- card svg -->
                <div
                    class="-translate-y-2 flex justify-between overflow-hidden mb-10px"
                >
                    <div class="relative w-20 h-[60px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-notebook-pen text-maroon absolute inline-block translate-y-1 translate-x-2 w-20 h-[60px]"
                            ><path
                                d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4"
                            ></path><path d="M2 6h4"></path><path d="M2 10h4"
                            ></path><path d="M2 14h4"></path><path d="M2 18h4"
                            ></path><path
                                d="M21.378 5.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"
                            ></path></svg
                        >
                    </div>
                </div>
                <!-- card content -->
                <div>
                    <a
                        href="#"
                        class="text-size-22 sm:text-size-17 md:text-lg leading-6 sm:leading-15px md:leading-29px lg:leading-15px 2xl:leading-29px font-bold mb-5px text-maroon"
                    >
                        TRANSPARENCY
                    </a>
                    <p class="text-[#333132] md:text-sm font-medium">
                        We have a policy of honesty and openness as we believe
                        we are answerable to Allah (SWT). We believe we owe our
                        donors transparency, which is why we keep you informed
                        of the impact of your donations every step of the way.
                    </p>
                </div>
            </div>
        </div>
        <!-- card 4 -->
        <div data-aos="fade-up">
            <div
                style="box-shadow: 0px 0px 10px 2px rgba(90,89,89,0.418);"
                class="p-30px group bg-whiteColor rounded-xl transition-all duration-300 hover:-translate-y-5px "
            >
                <!-- card svg -->
                <div
                    class="-translate-y-2 flex justify-between overflow-hidden mb-10px"
                >
                    <div class="relative w-20 h-[60px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 20 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-scale text-maroon absolute inline-block translate-y-2 translate-x-1 w-20 h-[60px]"
                            ><path
                                d="m16 16 3-8 3 8c-.87.65-1.92 1-3 1s-2.13-.35-3-1Z"
                            ></path><path
                                d="m2 16 3-8 3 8c-.87.65-1.92 1-3 1s-2.13-.35-3-1Z"
                            ></path><path d="M7 21h10"></path><path d="M12 3v18"
                            ></path><path d="M3 7h2c2 0 5-1 7-2 2 1 5 2 7 2h2"
                            ></path></svg
                        >
                    </div>
                </div>
                <!-- card content -->
                <div>
                    <a
                        href="#"
                        class="text-size-22 sm:text-size-17 md:text-lg leading-6 sm:leading-15px md:leading-29px lg:leading-15px 2xl:leading-29px font-bold mb-5px text-maroon"
                    >
                        INTEGRITY
                    </a>
                    <p class="text-[#333132] md:text-sm font-medium">
                        Integrity is our priority. We take your Zakat and
                        Sadaqah donations seriously, treating your generosity
                        with respect. We maintain transparent processes and
                        honest transactions that provide the aid you intend when
                        you donate with us.
                    </p>
                </div>
            </div>
        </div>
        <!-- card 5 -->
        <div data-aos="fade-up">
            <div
                style="box-shadow: 0px 0px 10px 2px rgba(90,89,89,0.418);"
                class="p-30px group bg-whiteColor rounded-xl transition-all duration-300 hover:-translate-y-5px"
            >
                <!-- card svg -->
                <div
                    class="-translate-y-2 flex justify-between overflow-hidden mb-10px"
                >
                    <div class="relative w-20 h-[60px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-star text-maroon absolute inline-block translate-y-1 translate-x-2 w-20 h-[60px]"
                            ><path
                                d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
                            ></path></svg
                        >
                    </div>
                </div>
                <!-- card content -->
                <div>
                    <a
                        href="#"
                        class="text-size-22 sm:text-size-17 md:text-lg leading-6 sm:leading-15px md:leading-29px lg:leading-15px 2xl:leading-29px font-bold mb-5px text-maroon"
                    >
                        EXCELLENCE
                    </a>
                    <p class="text-[#333132] md:text-sm font-medium">
                        Our goal is to achieve excellence in providing
                        humanitarian aid in times of crisis, underpinned by
                        long-term solutions that address inequalities, empower
                        communities and change futures. We use your donations to
                        provide innovative support with long-term benefit.
                    </p>
                </div>
            </div>
        </div>
        <!-- card 6 -->
        <div data-aos="fade-up">
            <div
                style="box-shadow: 0px 0px 10px 2px rgba(90,89,89,0.418);"
                class="p-30px group bg-whiteColor rounded-xl transition-all duration-300 hover:-translate-y-5px "
            >
                <!-- card svg -->
                <div
                    class="-translate-y-2 flex justify-between overflow-hidden mb-10px"
                >
                    <div class="relative w-20 h-[60px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-handshake text-maroon absolute inline-block translate-y-1 translate-x-2 w-20 h-[60px]"
                            ><path d="m11 17 2 2a1 1 0 1 0 3-3"></path><path
                                d="m14 14 2.5 2.5a1 1 0 1 0 3-3l-3.88-3.88a3 3 0 0 0-4.24 0l-.88.88a1 1 0 1 1-3-3l2.81-2.81a5.79 5.79 0 0 1 7.06-.87l.47.28a2 2 0 0 0 1.42.25L21 4"
                            ></path><path d="m21 3 1 11h-2"></path><path
                                d="M3 3 2 14l6.5 6.5a1 1 0 1 0 3-3"></path><path
                                d="M3 4h8"></path></svg
                        >
                    </div>
                </div>
                <!-- card content -->
                <div>
                    <a
                        href="#"
                        class="text-size-22 sm:text-size-17 md:text-lg leading-6 sm:leading-15px md:leading-29px lg:leading-15px 2xl:leading-29px font-bold mb-5px text-maroon"
                    >
                        PARTNERSHIP
                    </a>
                    <p class="text-[#333132] md:text-sm font-medium">
                        We work together with our local and international
                        partners to effectively serve people across communities.
                        We use our local knowledge to help those who are hardest
                        to reach, through reliable and trusted partnership
                        supply chains so you know where your money goes.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="max-w-5xl mx-auto">
        <p
            class="md:text-4xl text-lg text-center font-bold text-maroon px-20 py-8 pt-24"
        >
            Our Journey So Far...
        </p>
        <div class="relative">
            <!-- Vertical line -->
            <div
                class="absolute left-1/2 transform -translate-x-1/2 w-1 h-[90.5%] mt-[15.5rem] bg-maroon"
            >
            </div>
            <!-- Timeline items -->
            <div class="space-y-12">
                <div class="timeline-item flex items-center justify-between">
                    <div class="w-5/12 bg-white rounded-lg shadow-md">
                        <img
                            src="https://alwahabfoundation.org/wp-content/uploads/2022/09/IMG_9556.jpg"
                            alt="AWF"
                            class="w-full rounded-t-lg shadow-md"
                        />
                        <div class="p-4">
                            <h3 class="font-semibold text-4xl text-maroon">
                                2014
                            </h3>
                            <p class="text-sm font-normal w-full">
                                In 2014, AWF was formed, under the name of Ummah
                                Charity International, as a UK-registered
                                charity. Our first major project was our Ramadan
                                appeal, under which we distributed thousands of
                                Suhoor and iftar meals to families in need. We
                                also began our Eid Gift Distribution, making Eid
                                brighter for underprivileged children.
                            </p>
                        </div>
                    </div>
                    <div class="w-2/12 flex justify-center">
                        <div class="w-4 h-4 bg-customBeige rounded-full"></div>
                    </div>
                    <div class="w-5/12"></div>
                </div>

                <div class="timeline-item flex items-center justify-between">
                    <div class="w-5/12"></div>
                    <div class="w-2/12 flex justify-center">
                        <div class="w-4 h-4 bg-customBeige rounded-full"></div>
                    </div>
                    <div class="w-5/12 bg-white rounded-lg shadow-md">
                        <img
                            src="https://alwahabfoundation.org/wp-content/uploads/2022/10/3L5A6167-1.jpg"
                            alt="AWF"
                            class="w-full rounded-t-lg shadow-md"
                        />
                        <div class="p-4">
                            <h3 class="font-semibold text-4xl text-maroon">
                                2015
                            </h3>
                            <p class="text-sm font-normal">
                                We created our first Maktab in Karachi, where we
                                enrolled 250 children for our Hafiz-e-Quran
                                project. We launched our first eye camp in Sindh
                                in which we treated a total of 250 patients. Our
                                first Women Empowerment Project distributed 40
                                sewing machines, benefiting a total of 320
                                women, including struggling widows.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="timeline-item flex items-center justify-between">
                    <div class="w-5/12 bg-white rounded-lg shadow-md">
                        <img
                            src="https://alwahabfoundation.org/wp-content/uploads/2022/07/IMG_0867.jpg"
                            alt="AWF"
                            class="w-full rounded-t-lg shadow-md"
                        />
                        <div class="p-4">
                            <h3 class="font-semibold text-4xl text-maroon">
                                2016
                            </h3>
                            <p class="text-sm font-normal">
                                Our Sadaqah project was launched, giving aid
                                across many vulnerable districts of Pakistan. We
                                established our new school where we enrolled
                                children from highly impoverished families,
                                providing them with free quality education in
                                both Islamic and secular subjects. We also
                                developed our Maktab, Eyecare support and Cooked
                                Food projects and reached more people.
                            </p>
                        </div>
                    </div>
                    <div class="w-2/12 flex justify-center">
                        <div class="w-4 h-4 bg-customBeige rounded-full"></div>
                    </div>
                    <div class="w-5/12"></div>
                </div>

                <div class="timeline-item flex items-center justify-between">
                    <div class="w-5/12"></div>
                    <div class="w-2/12 flex justify-center">
                        <div class="w-4 h-4 bg-customBeige rounded-full"></div>
                    </div>
                    <div class="w-5/12 bg-white rounded-lg shadow-md">
                        <img
                            src="https://alwahabfoundation.org/wp-content/uploads/2022/07/IMG_2972.jpg"
                            alt="AWF"
                            class="w-full rounded-t-lg shadow-md"
                        />
                        <div class="p-4">
                            <h3 class="font-semibold text-4xl text-maroon">
                                2017
                            </h3>
                            <p class="text-sm font-normal">
                                Our team of dedicated volunteers delivered
                                freshly cooked meals to a UK-based homeless
                                shelter in Hayes. We responded to the Grenfell
                                Tower tragedy in London by donating warm meals
                                and clothing for all the affected.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="timeline-item flex items-center justify-between">
                    <div class="w-5/12 bg-white rounded-lg shadow-md">
                        <img
                            src="https://alwahabfoundation.org/wp-content/uploads/2022/07/Womens-Day-2019-Banner.jpg"
                            alt="AWF"
                            class="w-full rounded-t-lg shadow-md"
                        />
                        <div class="p-4">
                            <h3 class="font-semibold text-4xl text-maroon">
                                2018
                            </h3>
                            <p class="text-sm font-normal">
                                We built our first house for a family in need
                                and began to support Fukouka School for children
                                with special needs. In the UK, we provided fresh
                                drinking water in parks during a severe heat
                                wave. The launch of our Street Children School
                                saw 60 children enrolled and given safety, care
                                and access to learning.
                            </p>
                        </div>
                    </div>
                    <div class="w-2/12 flex justify-center">
                        <div class="w-4 h-4 bg-customBeige rounded-full"></div>
                    </div>
                    <div class="w-5/12"></div>
                </div>

                <div class="timeline-item flex items-center justify-between">
                    <div class="w-5/12"></div>
                    <div class="w-2/12 flex justify-center">
                        <div class="w-4 h-4 bg-customBeige rounded-full"></div>
                    </div>
                    <div class="w-5/12 bg-white rounded-lg shadow-md">
                        <img
                            src="https://alwahabfoundation.org/wp-content/uploads/2022/09/IMG_1876.jpg"
                            alt="AWF"
                            class="w-full rounded-t-lg shadow-md"
                        />
                        <div class="p-4">
                            <h3 class="font-semibold text-4xl text-maroon">
                                2019
                            </h3>
                            <p class="text-sm font-normal">
                                Our ‘Himmat Karo Aage Baro’ campaign saw the
                                distribution of 50 food-delivery motorbikes to
                                Pakistan’s troubled youth. The earthquakes in
                                Kashmir led to our Pakistan Earthquake Appeal,
                                providing aid to 3460 victims. Our on-site team
                                delivered aid to 500 victims who had lost
                                everything in the Karachi cyclone. We also held
                                our first International Girls’ Day to celebrate
                                and encourage young girls in Karachi, Pakistan
                                through education and achievement. Our ‘Walk for
                                Children’s Education’ garnered the support of
                                hundreds, raising further funds to support our
                                schools.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="timeline-item flex items-center justify-between">
                    <div class="w-5/12 bg-white rounded-lg shadow-md">
                        <img
                            src="https://alwahabfoundation.org/wp-content/uploads/2022/09/IMG_2398.jpg"
                            alt="AWF"
                            class="w-full rounded-t-lg shadow-md"
                        />
                        <div class="p-4">
                            <h3 class="font-semibold text-4xl text-maroon">
                                2020
                            </h3>
                            <p class="text-sm font-normal">
                                The Covid19 pandemic struck. We responded by
                                starting our Feed the Homeless project in
                                London, distributing over 100 food bags to the
                                most vulnerable and those who were isolating. We
                                also provided urgent relief to families in
                                Pakistan in the form of food bags and sanitation
                                equipment to combat the spread of the virus.
                                Despite the struggles worldwide, our Ramadan
                                campaign raised the highest funds yet, helping
                                us to reach and support more people.
                            </p>
                        </div>
                    </div>
                    <div class="w-2/12 flex justify-center">
                        <div class="w-4 h-4 bg-customBeige rounded-full"></div>
                    </div>
                    <div class="w-5/12"></div>
                </div>

                <div class="timeline-item flex items-center justify-between">
                    <div class="w-5/12"></div>
                    <div class="w-2/12 flex justify-center">
                        <div class="w-4 h-4 bg-customBeige rounded-full"></div>
                    </div>
                    <div class="w-5/12 bg-white rounded-lg shadow-md">
                        <img
                            src="https://alwahabfoundation.org/wp-content/uploads/2023/01/IMG_1267-e1673433888939.jpg"
                            alt="AWF"
                            class="w-full rounded-t-lg shadow-md"
                        />
                        <div class="p-4">
                            <h3 class="font-semibold text-4xl text-maroon">
                                2021
                            </h3>
                            <p class="text-sm font-normal">
                                We started our collaboration with London’s
                                Community Kitchen to provide fresh weekly halal
                                meals to families struggling to feed themselves
                                in London. Our team of staff and volunteers also
                                visited LCK’s office to create food bags for
                                homeless and low-income families. Our chair
                                Mufti Abdul Wahab visited Pakistan to oversee
                                the implementation of our Masjid, Water, Rozgar,
                                Eye Care and Cooked Food Projects which now
                                reach thousands of people across Pakistan.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="timeline-item flex items-center justify-between">
                    <div class="w-5/12 bg-white rounded-lg shadow-md">
                        <img
                            src="https://alwahabfoundation.org/wp-content/uploads/2022/10/3L5A1575-2.jpg"
                            alt="AWF"
                            class="w-full rounded-t-lg shadow-md"
                        />
                        <div class="p-4">
                            <h3 class="font-semibold text-4xl text-maroon">
                                2022
                            </h3>
                            <p class="text-sm font-normal">
                                We continued the expansion of our emergency and
                                developmental programmes, reaching people in new
                                areas of Pakistan and responding to the crisis
                                of the severe floods from June to October. We
                                also rebranded to Al-Wahab Foundation, reaching
                                more donors and delivering further support
                                through innovative livelihood programmes to
                                fight against poverty.
                            </p>
                        </div>
                    </div>
                    <div class="w-2/12 flex justify-center">
                        <div class="w-4 h-4 bg-customBeige rounded-full"></div>
                    </div>
                    <div class="w-5/12"></div>
                </div>
            </div>
        </div>

        <div class="flex justify-center items-center py-8 mt-6">
            <a
                class="bg-maroon hover:bg-customBeige text-2xl text-white px-4 py-2 rounded-full font-bold"
                href="">DONATE NOW</a
            >
        </div>
    </div>

    <NewsLetter />

    <style>
        .timeline-item {
            opacity: 0;
            transform: translateY(50px);
            transition: all 0.2s ease-out;
        }
        .timeline-item.show {
            opacity: 1;
            transform: translateY(0);
        }
    </style>

    <script is:inline>
        function isElementInViewport(el) {
            const rect = el.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <=
                    (window.innerHeight ||
                        document.documentElement.clientHeight) &&
                rect.right <=
                    (window.innerWidth || document.documentElement.clientWidth)
            );
        }

        function handleScroll() {
            const timelineItems = document.querySelectorAll(".timeline-item");
            timelineItems.forEach((item) => {
                if (isElementInViewport(item)) {
                    item.classList.add("show");
                }
            });
        }

        window.addEventListener("load", handleScroll);
        window.addEventListener("scroll", handleScroll);
        window.addEventListener("resize", handleScroll);
    </script>
</Layout>
