---
import Layout from "../layouts/Layout.astro";
import UmmahCharity from "../components/Ummah_Charity.astro";
import NewsLetter from "../components/NewsLetter.astro";

---

<Layout>
  <div class="text-center my-2">
    <h1 class="bg-[#740B2E] text-white font-bold text-xl md:text-[50px] py-20">STORIES OF HOPE</h1>
  </div>


  <UmmahCharity />

  <!--section step -->
  <div class="container mx-auto  p-8 max-w-screen-2xl bg-[#aa71454D]">
    <!-- Title -->
    <div class="text-center mb-10">
      <p class="text-[#740B2E] font-bold text-4xl">Case Studies</p>
    </div>

    <!-- Card Grid -->
    <div class="flex items-center justify-center">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- Card 1 -->
        <div
          class="w-full md:w-[350px] bg-white rounded-3xl shadow-lg shadow-grey overflow-hidden relative"
        >
          <a href="/case-study/muharram-water-relief-in-mithi-for-ibrahim">
            <img
              class="rounded-3xl w-full md:w-[350px] object-cover h-auto inset-0"
              src="https://alwahabfoundation.org/wp-content/uploads/2023/06/Reviving-Hope-in-Muharram-for-Ibrahim.jpg"
              alt="Card image"
            />
          </a>

          <div class="py-4 px-2">
            <a class="flex justify-center" href="#">
              <h5
                class="text-lg md:text-lg text-[#333132] font-semibold tracking-tight text-black text-center my-2 "
              >
              Reviving Hope in Muharram for Ibrahim: Al-Wahab Foundation's Water Relief in Mithi
              </h5>
            </a>
            <p
              class="my-2 text-sm text-black text-center font-normal md:text-sm"
            >
            Case Study: Ibrahim’s Journey Reviving Hope <br>in…
            </p>
            <p class="flex items-center justify-center py-4 relative">
              <a
                href="/case-study/muharram-water-relief-in-mithi-for-ibrahim"
                class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </p>
          </div>
        </div>

        <!-- Card 2 -->
        <div
          class="w-full md:w-[350px] bg-white rounded-3xl shadow-lg shadow-grey overflow-hidden relative"
        >
          <a href="/case-study/saleem-extends-heartfelt-thanks-for-qurbani-meat-to-awf">
            <img
              class="rounded-3xl w-full md:w-[350px] object-cover h-auto inset-0"
              src="https://alwahabfoundation.org/wp-content/uploads/2023/05/Qurbani-Case-Study-2024.jpg"
              alt="Card image"
            />
          </a>

          <div class="py-4 px-2">
            <a class="flex justify-center" href="#">
              <h5
                class="text-lg md:text-lg text-[#333132] font-semibold tracking-tight text-black text-center my-2 "
              >
              Saleem Extends Heartfelt Thanks for Qurbani Meat to AWF
              </h5>
            </a>
            <p
              class="my-2  text-sm text-black text-center font-normal md:text-sm"
            >
            Case Study: Saleem’s Journey Saleem Extends Heartfelt…
            </p>
            <p class="flex items-center justify-center py-4 relative">
              <a
                href="/case-study/saleem-extends-heartfelt-thanks-for-qurbani-meat-to-awf"
                class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </p>
          </div>
        </div>
        <!-- Card 3 -->
        <div
          class="w-full md:w-[350px] bg-white rounded-3xl shadow-lg shadow-grey overflow-hidden relative"
        >
          <a href="/case-study/your-zakat-donation-gave-the-gift-of-sight-to-shehnaz-riaz-in-ramadan">
            <img
              class="rounded-3xl w-full md:w-[350px] object-cover h-auto inset-0"
              src="https://alwahabfoundation.org/wp-content/uploads/2024/02/Your-Zakat-Donation-Gave-the-Gift-of-Sight-to-Shehnaz-Riaz-in-Ramadan-2023.jpg"
              alt="Card image"
            />
          </a>

          <div class="py-4 px-2">
            <a class="flex justify-center" href="#">
              <h5
                class="text-lg md:text-lg text-[#333132] font-semibold tracking-tight text-black text-center my-2 "
              >
              Your Zakat Donation Gave the Gift of Sight to Shehnaz Riaz in Ramadan 2023
              </h5>
            </a>
            <p
              class="my-2 text-sm text-black text-center font-normal md:text-sm"
            >
            Case Study: shehnaz riaz’s Journey Your Zakat…
            </p>
            <p class="flex items-center justify-center py-4 relative">
              <a
                href="/case-study/your-zakat-donation-gave-the-gift-of-sight-to-shehnaz-riaz-in-ramadan"
                class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </p>
          </div>
        </div>
        <!-- Repeat Cards for Row 2 -->
        <!--Card 4 -->
        <div
          class="w-full md:w-[350px] bg-white rounded-3xl shadow-lg shadow-grey overflow-hidden relative"
        >
          <a href="/case-study/mehwish-ali-in-smiles-as-she-receives-eid-gift-pack-from-awf">
            <img
              class="rounded-3xl w-full md:w-[350px] object-cover h-auto inset-0"
              src="https://alwahabfoundation.org/wp-content/uploads/2024/02/Mehwish-Alis-Journey-Case-Study.jpg"
              alt="Card image"
            />
          </a>

          <div class="py-4 px-2">
            <a class="flex justify-center" href="#">
              <h5
                class="text-lg md:text-lg text-[#333132] font-semibold tracking-tight text-black text-center my-2"
              >
              Mehwish Ali in Smiles As She Receives Eid Gift Pack from AWF
              </h5>
            </a>
            <p
              class="my-2 text-sm text-black text-center font-normal md:text-sm"
            >
            Mehwish Ali in Smiles As She Receives Eid Gift Pack from AWF
            </p>
            <p class="flex items-center justify-center py-4 relative">
              <a
                href="/case-study/mehwish-ali-in-smiles-as-she-receives-eid-gift-pack-from-awf"
                class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </p>
          </div>
        </div>
        <!--card 5 -->
        <div
          class="w-full md:w-[350px] bg-white rounded-3xl shadow-lg shadow-grey overflow-hidden relative"
        >
          <a href="/case-study/your-generosity-provided-kaleem-and-his-family-with-iftar-packs-in-ramadan">
            <img
              class="rounded-3xl w-full md:w-[350px] object-cover h-auto inset-0"
              src="https://alwahabfoundation.org/wp-content/uploads/2024/02/Generosity-Provided-Kaleem-and-His-Family-with-Iftar-Packs-in-Ramadan-2023.jpg"
              alt="Card image"
            />
          </a>

          <div class="py-4 px-2">
            <a class="flex justify-center" href="#">
              <h5
                class="text-lg md:text-lg text-[#333132] font-semibold tracking-tight text-black text-center my-2"
              >
              Your Generosity Provided Kaleem and His Family with Iftar Packs in Ramadan 2023
              </h5>
            </a>
            <p
              class="my-2 text-sm text-black text-center font-normal md:text-sm"
            >
            Case Study: Kaleem & his family Journey…
            </p>
            <p class="flex items-center justify-center py-4 relative">
              <a
                href="/case-study/your-generosity-provided-kaleem-and-his-family-with-iftar-packs-in-ramadan"
                class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </p>
          </div>
        </div>
        <!--Card 6 -->
        <div
          class="w-full md:w-[350px] bg-white rounded-3xl shadow-lg shadow-grey overflow-hidden relative"
        >
          <a href="/case-study/minha-extends-warm-thanks-to-awf-for-providing-food-packs-in-ramadan">
            <img
              class="rounded-3xl w-full md:w-[350px] object-cover h-auto inset-0"
              src="https://alwahabfoundation.org/wp-content/uploads/2024/02/Minhas-Journey-Case-Study.jpg"
              alt="Card image"
            />
          </a>

          <div class="py-4 px-2">
            <a class="flex justify-center" href="#">
              <h5
                class="text-lg md:text-lg text-[#333132] font-semibold tracking-tight text-black text-center my-2"
              >
              Minha Extends Warm Thanks to AWF for Providing Food Packs in Ramadan
              </h5>
            </a>
            <p
              class="my-2 text-sm text-black text-center font-normal md:text-sm"
            >
            CASE STUDY: minha’S JOURNEY Minha Extends Warm…
            </p>
            <p class="flex items-center justify-center py-4 relative">
              <a
                href="/case-study/minha-extends-warm-thanks-to-awf-for-providing-food-packs-in-ramadan"
                class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </p>
          </div>
        </div>
        <!--Card 7 -->
        <div
          class="w-full md:w-[350px] bg-white rounded-3xl shadow-lg shadow-grey overflow-hidden relative"
        >
          <a href="/case-studies/razia-heartfelt-thanks-to-al-wahab-foundation-free-eye-care-camps">
            <img
              class="rounded-3xl w-full md:w-[350px] object-cover h-auto inset-0"
              src="https://alwahabfoundation.org/wp-content/uploads/2023/09/Razias-Heartfelt-Thanks-Case-Study.jpg"
              alt="Card image"
            />
          </a>

          <div class="py-4 px-2">
            <a class="flex justify-center" href="#">
              <h5
                class="text-lg md:text-lg text-[#333132] font-semibold tracking-tight text-black text-center my-2"
              >
                Razia's Heartfelt Thanks: Al-Wahab Foundation's Free Eye Care
                Camps!
              </h5>
            </a>
            <p
              class="my-2 text-sm text-black text-center font-normal md:text-sm"
            >
              Case Study: Razia’s Journey Razia’s Heartfelt Thanks:…
            </p>
            <p class="flex items-center justify-center py-4 relative">
              <a
                href="/case-study/razia-heartfelt-thanks-to-al-wahab-foundation-free-eye-care-camps"
                class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </p>
          </div>
        </div>
        <!--Card 8 -->
        <div
          class="w-full md:w-[350px] bg-white rounded-3xl shadow-lg shadow-grey overflow-hidden relative"
        >
          <a href="/case-study/water-for-life-al-wahab-foundations-gift-of-clean-drinking-water-to-akbars-village">
            <img
              class="rounded-3xl w-full md:w-[350px] object-cover h-auto inset-0"
              src="https://alwahabfoundation.org/wp-content/uploads/2022/06/IMG_2926.jpg"
              alt="Card image"
            />
          </a>

          <div class="py-4 px-2">
            <a class="flex justify-center" href="#">
              <h5
                class="text-lg md:text-lg text-[#333132] font-semibold tracking-tight text-black text-center my-2"
              >
              Water for Life: Al-Wahab Foundation's Gift of Clean Drinking Water to Akbar's Village​
              </h5>
            </a>
            <p
              class="my-2 text-sm text-black text-center font-normal md:text-sm"
            >
            Case Study: Akbar’s Journey Water for Life:…
            </p>
            <p class="flex items-center justify-center py-4 relative">
              <a
                href="/case-study/water-for-life-al-wahab-foundations-gift-of-clean-drinking-water-to-akbars-village"
                class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </p>
          </div>
        </div>
        <!--Card 9 -->
        <div
          class="w-full md:w-[350px] bg-white rounded-3xl shadow-lg shadow-grey overflow-hidden relative"
        >
          <a href="/case-study/hope-for-tomorrow-al-wahab-foundations-support-for-abdullahs-education">
            <img
              class="rounded-3xl w-full md:w-[350px] object-cover h-auto inset-0"
              src="https://alwahabfoundation.org/wp-content/uploads/2023/08/IMG_7251.jpg"
              alt="Card image"
            />
          </a>

          <div class="py-4 px-2">
            <a class="flex justify-center" href="#">
              <h5
                class="text-lg md:text-lg text-[#333132] font-semibold tracking-tight text-black text-center my-2"
              >
              Hope for Tomorrow: Al-Wahab Foundation's Support for Abdullah's Education
              </h5>
            </a>
            <p
              class="my-2 text-sm text-black text-center font-normal md:text-sm"
            >
            Case Study: Abdullah’s Education Hope for Tomorrow:…
            </p>
            <p class="flex items-center justify-center py-4 relative">
              <a
                href="/case-study/hope-for-tomorrow-al-wahab-foundations-support-for-abdullahs-education"
                class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </p>
          </div>
        </div>
        <!--Card 10 -->
        <div
          class="w-full md:w-[350px] bg-white rounded-3xl shadow-lg shadow-grey overflow-hidden relative"
        >
          <a href="/case-study/restoring-lives-azra-extends-warm-thanks-to-al-wahab-foundation-for-assistance">
            <img
              class="rounded-3xl w-full md:w-[350px] object-cover h-auto inset-0"
              src="https://alwahabfoundation.org/wp-content/uploads/2023/08/Azra-Extends-Warm-Thanks-Case-Study.jpg"
              alt="Card image"
            />
          </a>

          <div class="py-4 px-2">
            <a class="flex justify-center" href="#">
              <h5
                class="text-lg md:text-lg text-[#333132] font-semibold tracking-tight text-black text-center my-2"
              >
              Restoring Lives: Azra Extends Warm Thanks<br> to Al-Wahab Foundation for Assistance​
              </h5>
            </a>
            <p
              class="my-2 text-sm text-black text-center font-normal md:text-sm"
            >
            Case Study: RESTORING LIVES IN TURKIYE Restoring…
            </p>
            <p class="flex items-center justify-center py-4 relative">
              <a
                href="/case-study/restoring-lives-azra-extends-warm-thanks-to-al-wahab-foundation-for-assistance"
                class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </p>
          </div>
        </div>
        <!--Card 11 -->
        <div
          class="w-full md:w-[350px] bg-white rounded-3xl shadow-lg shadow-grey overflow-hidden relative"
        >
          <a href="/case-study/roshmail-expresses-immense-gratitude-towards-awf-for-providing-him-with-rickshaw">
            <img
              class="rounded-3xl w-full md:w-[350px] object-cover h-auto inset-0"
              src="https://alwahabfoundation.org/wp-content/uploads/2023/08/QUR00879-1a.jpg"
              alt="Card image"
            />
          </a>

          <div class="py-4 px-2">
            <a class="flex justify-center" href="#">
              <h5
                class="text-lg md:text-lg text-[#333132] font-semibold tracking-tight text-black text-center my-2"
              >
              Roshmail Expresses Immense Gratitude Towards AWF for Providing Him with Rickshaw
              </h5>
            </a>
            <p
              class="my-2 text-sm text-black text-center font-normal md:text-sm"
            >
            Case Study: Roshmail Roshmail Expresses Immense Gratitude…
            </p>
            <p class="flex items-center justify-center py-4 relative">
              <a
                href="/case-study/roshmail-expresses-immense-gratitude-towards-awf-for-providing-him-with-rickshaw"
                class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </p>
          </div>
        </div>
        <!--Card 12 -->
        <div
          class="w-full md:w-[350px] bg-white rounded-3xl shadow-lg shadow-grey overflow-hidden relative "
        >
          <a href="/case-study/from-hunger-to-hope-al-wahab-foundations-food-packs-provide-sustenance-to-iqbal-family">
            <img
              class="rounded-3xl w-full md:w-[350px] object-cover h-auto inset-0"
              src="https://alwahabfoundation.org/wp-content/uploads/2022/07/3L5A5064-1.jpg"
              alt="Card image"
            />
          </a>

          <div class="py-4 px-2">
            <a class="flex justify-center" href="#">
              <h5
                class="text-lg md:text-lg text-[#333132] font-semibold tracking-tight text-black text-center my-2"
              >
              From Hunger to Hope: Al-Wahab Foundation's Food Packs Provide Sustenance to Iqbal & Family
              </h5>
            </a>
            <p
              class="my-2 text-sm text-black text-center font-normal md:text-sm"
            >
            Case Study: Iqbal & Family From Hunger…
            </p>
            <p class="flex items-center justify-center py-4 relative">
              <a
                href="/case-study/from-hunger-to-hope-al-wahab-foundations-food-packs-provide-sustenance-to-iqbal-family"
                class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="w-screen overflow-hidden mt-10">
    <div class="flex flex-wrap">
      <!-- First Image with Text Overlay -->
      <div class="relative w-full sm:w-1/2 lg:w-1/3">
        <!-- The image -->
        <img
          class="w-full h-60 sm:h-80 lg:h-[400px] object-cover"
          src="https://alwahabfoundation.org/wp-content/uploads/2022/06/calculate-your-zakat.jpg"
          alt=""
        />
        <!-- Semi-transparent overlay -->
        <div class="absolute inset-0 bg-[#740B2E] opacity-70 z-10"></div>
        <!-- Text container -->
        <div class="absolute inset-0 flex top-52 justify-center z-20 px-2">
          <p class="text-white">
            <span class="text-2xl font-semibold block">
              CALCULATE YOUR ZAKAT
            </span>
            <span class="text-base font-normal block mt-4"
              >calculating your zakat has<br />
              never been easier
            </span>
            <a
              href="/appeals/zakat-calculator"
              class="mt-6 inline-block text-maroon font-medium px-5 py-1 bg-white rounded-full text-lg"
              >Calculate Now</a
            >
          </p>
        </div>
      </div>

      <!-- Second Image -->
      <div class="relative w-full sm:w-1/2 lg:w-1/3">
        <!-- The image -->
        <img
          class="w-full h-60 sm:h-80 lg:h-[400px] object-cover"
          src="https://alwahabfoundation.org/wp-content/uploads/2022/06/Sadaqah-saves-lives-1.jpg"
          alt=""
        />
        <!-- Semi-transparent overlay -->
        <div class="absolute inset-0 bg-customBeige opacity-70 z-10"></div>
        <!-- Text container -->
        <div class="absolute inset-0 flex top-52 justify-center z-20 px-4">
          <p class="text-white">
            <span class="text-2xl font-semibold block">SADAQAH SAVES LIVES</span
            >
            <span class="text-base font-normal block mt-4"
              >your sadqah helps prople in<br />
              desparate need
            </span>
            <a
              href="/appeals/sadaqah"
              class="mt-6 inline-block text-maroon px-5 font-medium py-1 bg-white rounded-full text-lg"
              >Donate Now</a
            >
          </p>
        </div>
      </div>

      <!-- Third Image -->
      <div class="relative w-full lg:w-1/3">
        <!-- The image -->
        <img
          class="w-full h-60 sm:h-80 lg:h-[400px] object-cover"
          src="https://alwahabfoundation.org/wp-content/uploads/2022/06/set-a-monthly-donation-1.jpg"
          alt=""
        />
        <!-- Semi-transparent overlay -->
        <div class="absolute inset-0 bg-[#740B2E] opacity-70 z-10"></div>
        <!-- Text container -->
        <div class="absolute inset-0 flex top-52 justify-center z-20 px-4">
          <p class="text-white">
            <span class="text-2xl font-semibold block"
              >SET A MONTHLY DONATION</span
            >
            <span class="text-base font-normal block mt-4 pr-4"
              >your monthly direct debit helps children <br />
              stay in school</span
            >
            <a
              href="/appeals/sadaqah"
              class="mt-6 inline-block text-maroon font-medium px-5 py-1 bg-white rounded-full text-lg"
              >Donate Now</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <NewsLetter />
</Layout>
