---
import Layout from "../layouts/Layout.astro";
import HeadersBanner from "../components/HeadersBanner.astro";
import UmmahCharity from "../components/Ummah_Charity.astro";

const HeaderBannerData = [
    {
        src:"/assets/images/website-banner-masjid.jpg",
        title:"Morocco \nEarthquake Appeal",
    }
]
---
<Layout>
    <HeadersBanner HeadersBanners={HeaderBannerData} />
    <UmmahCharity />
    <div class="mt-12">
        <p class="text-maroon text-xl md:text-3xl font-bold text-center">Morocco Earthquake Appeal</p>
        <p class="text-customBeige font-light text-xl md:text-2xl text-center mt-6">The Most Catastrophic Earthquake in a Century</p>
        <p class="font-thin text-grey text-base md:text-xl  text-center mt-5">A disastrous earthquake struck Morocco on Friday night, September 8th, at just past 11 PM local time <br>
            resulting in a tragic death toll. The casualty count is nearing <span class="text-grey font-bold">3,000</span>, and over<span class="text-grey font-bold"> 5,600 </span>individuals left <br>
            injured. According to the details, the epicenter of this earthquake of magnitude 6.8 was in the High <br>
            Atlas Mountains, approximately <span class="text-grey font-bold">72 kilometers southwest of Marrakech.</span>
        </p>
    </div>


    <div class="flex items-center justify-center mt-10">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- Card 1 -->
          <div class="max-w-80 bg-white rounded-lg shadow-lg overflow-hidden relative">
            <a href="#">
              <img class="rounded-t-lg w-full object-cover h-80" src="https://picsum.photos/300/200" alt="Card image" />
            </a>
            <div class="p-5">
              <a class="flex justify-center" href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-black text-center mt-6">Zakat</h5>
              </a>
              <p class="mb-5 mt-5 text-sm text-black flex items-center justify-center font-semibold sm:text-base md:text-xl">
                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-receipt-pound-sterling">
                  <path d="M4 2v20l2-1 2 1 2-1 2 1 2-1 2 1 2-1 2 1V2l-2 1-2-1-2 1-2-1-2 1-2-1-2 1Z" />
                  <path d="M8 13h5" />
                  <path d="M10 17V9.5a2.5 2.5 0 0 1 5 0" />
                  <path d="M8 17h7" />
                </svg>
                ANY AMOUNT
              </p>
              <p class="flex items-center justify-center mb-7 mt-6">
                <a href="#" class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300">
                  DONATE NOW
                  <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10" stroke="currentColor" stroke-width="2">
                    <path d="M1 5h12m0 0L9 1m4 4L9 9" />
                  </svg>
                </a>
              </p>
            </div>
          </div>
      
          <!-- Card 2 -->
          <div class="max-w-80 bg-white rounded-lg shadow-lg overflow-hidden relative">
            <a href="#">
              <img class="rounded-t-lg w-full object-cover h-80" src="https://picsum.photos/300/200" alt="Card image" />
            </a>
            <div class="p-5">
              <a class="flex justify-center" href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-black text-center mt-6">Zakat</h5>
              </a>
              <p class="mb-5 mt-5 text-sm text-black flex items-center justify-center font-semibold sm:text-base md:text-xl">
                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-receipt-pound-sterling">
                  <path d="M4 2v20l2-1 2 1 2-1 2 1 2-1 2 1 2-1 2 1V2l-2 1-2-1-2 1-2-1-2 1-2-1-2 1Z" />
                  <path d="M8 13h5" />
                  <path d="M10 17V9.5a2.5 2.5 0 0 1 5 0" />
                  <path d="M8 17h7" />
                </svg>
                ANY AMOUNT
              </p>
              <p class="flex items-center justify-center mb-7 mt-6">
                <a href="#" class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300">
                  DONATE NOW
                  <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10" stroke="currentColor" stroke-width="2">
                    <path d="M1 5h12m0 0L9 1m4 4L9 9" />
                  </svg>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      
      
</Layout>