---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from '../../components/Ummah_Charity.astro';
import CardforCountry from "../../components/CardforCountry.astro";
import SupportBanner from "../../components/SupportBanner.astro";

const BannerDatail =[
    {
        leftDescription:"SUPPORTING COMMUNITIES: DONATE FOOD AND WATER FOR UGANDA",
        rightDescription:"In Uganda, over 40% of people struggle to live on less than £1 a day, and nearly half of the population is below the age of 15. The devastating effects of malnutrition on growing bodies lead parents to sacrifice their own meals, giving what little they have to their children. You can make a significant impact by donating to our Uganda appeal today. Your contribution can provide food packs to families, offer hot meals to school children, or even establish water wells to protect and nourish families living in challenging conditions. Together, we can make a positive difference in the lives of those facing hardship. Donate now and be a source of hope for those in need.",
         src: "https://alwahabfoundation.org/wp-content/uploads/2023/03/little-african-schoolgirl-collects-water-in-the-bo-2022-12-06-01-17-53-utc-1.jpg",
    }
]
const CountryCard =[
    {
        name: "UGANDA",
        title: "Food Pack" ,
        amount : "50.00",
        src:"https://picsum.photos/200/300",
        
    },
    {
        name: "UGANDA",
        title: "Cooked Food" ,
        amount :"200.00" ,
        src:"https://picsum.photos/200/300",
    },
    {
        name: "UGANDA",
        title: "Water Well" ,
        amount : "2000.00",
        src:"https://picsum.photos/200/300",
    },
    {
        name: "UGANDA",
        title: "Build A Masjid" ,
        amount : "12000.00",
        src:"https://picsum.photos/200/300",
    }
]

const BannerData =[
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/2023/03/IMG_1892-b.jpg",
        title: "Uganda Appeal"
    }
]
---
<Layout>
    <HeadersBanner HeadersBanners={BannerData} />
    <UmmahCharity />

    <div class="container px-4 py-8">
        <div class="row">
            <p class="text-maroon font-bold text-3xl text-center">Al-Wahab Foundation's Uganda Appeal</p>
            <p class="text-grey font-normal text-xl text-center py-8">
                Poverty in Africa has been a longstanding challenge, casting a shadow over the <br>
                 aspirations and dreams of millions. Within this complex landscape, Uganda stands as <br>
                 a nation grappling with its own set of socio-economic obstacles, where poverty’s <br>
                  harsh grip affects vast segments of the population. <br> <br>
                  However, amidst these adversities, rays of hope break through the clouds, originating <br>
                   from the dedicated humanitarian aid by Al-Wahab Foundation. AWF has embarked <br>
                    on a remarkable journey to alleviate poverty’s burden and uplift communities. <br>
                     Donate food and water for Uganda and help us make an everlasting impact.
            </p>
    </div>

    <CardforCountry CountryCardDetails={CountryCard} />
    <SupportBanner BannerDetails={BannerDatail}/>
    
    <div class="container">
        <div class="row grid px-4 py-8 justify-center gap-8 grid-cols-1 md:grid-cols-3">
            <!-- Reusable block for stats -->
            <div class="stat-item flex flex-col items-center text-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="stroke-maroon hover:stroke-customBeige duration-300 mb-4"
                    width="99" height="99" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/>
                    <path d="M7 2v20"/>
                    <path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/>
                </svg>
                <p class="text-lg font-medium">
                    850+ <br>
                    Cooked Meals
                </p>
            </div>
    
            <div class="stat-item flex flex-col items-center text-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="stroke-maroon hover:stroke-customBeige duration-300 mb-4"
                    width="99" height="99" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/>
                    <path d="M7 2v20"/>
                    <path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/>
                </svg>
                <p class="text-lg font-medium">
                    850+ <br>
                    Cooked Meals
                </p>
            </div>
    
            <div class="stat-item flex flex-col items-center text-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="stroke-maroon hover:stroke-customBeige duration-300 mb-4"
                    width="99" height="99" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/>
                    <path d="M7 2v20"/>
                    <path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/>
                </svg>
                <p class="text-lg font-medium">
                    850+ <br>
                    Cooked Meals
                </p>
            </div>
        </div>
    </div>
    
    
</Layout>