---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";
import CardforCountry from "../../components/CardforCountry.astro";
import SupportBanners from "../../components/SupportBanner.astro";

 const SuppportBanner = [
    {
        leftDescription: "SMALL ACTS, BIG IIMPACT – GIVES REGULAR DONATION",
        rightDescription: " “The Prophet Muhammad (SAW) said: ‘The most beloved of deeds to Allah are those that are most consistent, even if they are small.’” (Bukhari) With our Where Most Needed initiative, you can contribute to a variety of projects and causes that require immediate attention. Your commitment to regular giving allows us to plan ahead, respond swiftly to urgent needs, and sustainably uplift communities for the long term.  Similarly, setting up a monthly Direct Debit (DD) helps you to plan your budget and is convenient too – you’ll effortlessly make regular contributions to your favourite cause and earn rewards month after month. Whether it’s providing access to clean water, delivering essential eye care treatment, ensuring quality education, or providing food to those in need – your monthly donations will play a pivotal role in addressing these pressing needs.  ",
        src: " ",
    }
 ]

const CardOfCountry =[
    {
        name: "PAKISTAN",
        title: "Support A Maktab Monthly" ,
        amount : "30.00",
        src: "https://icharms.alwahabfoundation.org/storage/program/7HSdTR6tt4KRncdncQ5MFH6lxSZzbqgQuFMQVD4y.jpg",
    },
    {
        name: "PAKISTAN",
        title: "Food Pack" ,
        amount : "50.00",
        src: "https://icharms.alwahabfoundation.org/storage/program_rate/SgQtvXLa4eeu7HwgWKLtydQMHlnE5npUdsZeTxyf.jpg",
    },
    {
        name: "UGANDA",
        title: "Clean Drinking Water" ,
        amount : "50.00",
        src: "https://icharms.alwahabfoundation.org/storage/program/FKKCyfboMZNYHjzG05sZZUhOisMYcVVTKEKCzIgi.jpg",
    },

]
 const HeaderBannerDetails = [
    {
        src:"https://alwahabfoundation.org/wp-content/uploads/2023/10/IMG_1703.jpg",
        title:"Where Most Needed",
    }
 ]

---
<Layout>
  <HeadersBanner HeadersBanners ={HeaderBannerDetails}/>
  <UmmahCharity />

  <div class="container">
    <div class="row">
        <div>
            <p class=" text-center text-xl text-maroon  pt-12 font-bold md:text-3xl ">Bring Lasting Change through Regular <br> Giving</p>
            <p class="py-4 px-96 text-center font-medium md:text-lg text-base ">
                At Al-Wahab Foundation, we believe in the power of consistent generosity. Our <br>
                <span class="text-grey font-bold">Where Most Needed</span> initiative empowers you to make a meaningful impact through <br>
                <span class="text-grey font-bold">regular giving</span> and <span class="text-grey font-bold">monthly charity donations</span>. By making a <span class="text-grey font-bold">regular donation </span>to <br>
                AWF, you join a community of compassionate individuals dedicated to creating  <br>
                positive change in the lives of those who need it most.
            </p>
        </div>
    </div>
  </div>

  <CardforCountry CountryCardDetails={CardOfCountry} />

  <SupportBanners BannerDetails = {SuppportBanner}/>
</Layout>