---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import ZakatCalculators from "../../components/ZakatCalculator.astro";
import SeeOtherProjectCards from "../../components/SeeOtherProjectCard.astro";

const SeeOtherProject = [
  {
    title: "Where Most Needed",
    description:
      "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
    src: "/assets/images/appeals/water/Water1.jpg",
  },
  {
    title: "Hope For Uganda",
    description:
      "Poverty in Africa has been a longstanding challenge, casting a shadow over the aspirations and dreams of millions. Within this",
    src: "/assets/images/appeals/water/Water2.jpg",
  },
  {
    title: "Serving Humanity in the UK",
    description:
      "In the UK, many people face daily challenges due to rising costs and unemployment. This includes those living below the",
    src: "/assets/images/appeals/water/Water3.jpg",
  },
  {
    title: "Winter Survival Kit",
    description:
      "As climate change intensifies worldwide, a relentless sequence of natural disasters in various countries has aggravated the difficulties faced by",
    src: "/assets/images/appeals/water/Water4.jpg",
  },
  {
    title: "Build a Masjid",
    description:
      "A mosque is the heart of the community, a place full of peace that brings the community together. In rural",
    src: "/assets/images/appeals/water/Water5.jpg",
  },
  {
    title: "Pay Zakat Online",
    description:
      "The economic situation in Pakistan has caused devastation, leaving many people in desperation. Approximately 36% of the population now lives",
    src: "/assets/images/appeals/water/Water6.jpg",
  },
  {
    title: "Women Empowerment",
    description:
      "Empowering women involves providing them with opportunities to acquire essential skills, boost their confidence, and cultivate independence, enabling lasting benefits",
    src: "/assets/images/appeals/water/Water7.jpg",
  },
  {
    title: "Give your Sadaqah",
    description:
      "Your Sadaqah donation keeps hopes alive for those in need. Your act of charity can ease the suffering of people",
    src: "/assets/images/appeals/water/Water8.jpg",
  },
  {
    title: "Support a Maktab",
    description:
      "Over 280 million children around the world are deprived of education. These children are often forced into a life of",
    src: "/assets/images/appeals/water/Water9.jpg",
  },
  {
    title: "Water for Life",
    description:
      "Water is necessity in life. More than 1.1 billion people worldwide continue to face the challenge of lacking regular access",
    src: "/assets/images/appeals/water/Water10.jpg",
  },
];

const HeaderBannerDetails = [
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2024/03/Zakat-cover-2024-01.jpg",
    title: "Zakat Calculator",
  },
];
---

<Layout>
  <HeadersBanner HeadersBanners={HeaderBannerDetails} />

  <div class="container py-8 px-4">
    <div class="row">
      <p class="text-center text-maroon font-bold text-2xl md:text-4xl">
        Simplify Your Zakat Calculation
      </p>
      <p class="py-4 text-center text-grey text-base md:text-xl font-medium">
        Determining your Zakat seems to be a difficult task. However, it isn’t
        as challenging <br />
        as you might think of it. All you need to do is categorise your assets and
        liabilities in a <br />
        way that makes it convenient for you to <span class="font-bold"
          >calculate Zakat</span
        >. To make it even more <br />
        convenient and quick, use our Zakat Calculator to find out how much you need
        <br />
        to pay.
      </p>
      <p class="py-3 text-center text-grey text-base md:text-xl font-medium">
        AWF Zakat Calculator has simplified the calculation by dividing assets
        into items to <br />
        be considered to pay Zakat for (such as gold, silver, cash, savings, and
        business <br />
        assets) and deductible liabilities (including debts and other outgoing payments).
        <br />
        Using this breakdown, you can easily calculate Zakat.
      </p>
      <p class="py-3 text-center text-grey text-base md:text-xl font-medium">
        Once you assess the value of your net assets, you can determine the
        amount of Zakat <br />
        owed. It’s crucial to compare your net assets to the nisab threshold to find
        out <br />
        whether Zakat is obligatory.
      </p>
      <div
        class="py-4 px-4 md:px-10 flex flex-wrap md:flex-nowrap justify-center space-y-4 md:space-y-0 md:space-x-6"
      >
        <!-- First Button Container -->
        <div class="w-full md:w-1/2 flex items-center justify-center">
          <a
            class="bg-maroon rounded-full px-4 py-2 text-base md:text-xl font-bold hover:bg-customBeige text-white text-center"
            href=""
          >
            Give Zakat
          </a>
        </div>
        <!-- Second Button Container -->
        <div class="w-full md:w-1/2 flex items-center justify-center">
          <a
            class="bg-maroon rounded-full px-4 py-2 text-base md:text-xl font-bold hover:bg-customBeige text-white text-center"
            href=""
          >
            Calculate Your Zakat
          </a>
        </div>
      </div>
    </div>
  </div>

  <ZakatCalculators />

  <!-- Zakat Explained -->

  <div class="container py-8 md:px-28">
    <div class="row">
      <div>
        <p class="text-maroon font-bold text-3xl">
          Zakat Explained: Frequently Asked Questions
        </p>
        <!-- accordions -->

        <div class="lg:col-start-4 lg:col-span-9 py-8" data-aos="fade-up">
          <ul class="accordion-container rounded-md">
            <!-- accordion -->
            <li class="accordion active">
              <div
                class="bg-whiteColor border border-grey dark:bg-whiteColor-dark dark:border-borderColor-dark"
              >
                <!-- controller -->
                <div>
                  <button
                    class="accordion-controller flex justify-between items-center text-xl text-headingColor font-bold w-full px-10px pt-14px pb-15px md:px-25px md:pt-6 md:pb-25px dark:text-headingColor-dark font-hind leading-[20px] outline-4 outline-transparent transition-none border-b border-transparent"
                  >
                    <span class="text-maroon text-lg md:text-xl"
                      >Who needs to pay Zakat?</span
                    >
                    <svg
                      class="transition-all duration-500 rotate-0"
                      width="20"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      fill="#212529"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                      >
                      </path>
                    </svg>
                  </button>
                </div>
                <!-- content -->
                <div
                  class="accordion-content transition-all duration-500 overflow-hidden"
                >
                  <div class="content-wrapper py-4 px-5">
                    <p
                      class="leading-7 text-grey dark:text-contentColor-dark mb-15px"
                    >
                      All Muslim adults who possess assets for over one lunar
                      year are required to pay Zakat.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="accordion">
              <div
                class="bg-whiteColor border border-grey border-t-0 dark:bg-whiteColor-dark dark:border-borderColor-dark"
              >
                <!-- controller -->
                <div>
                  <button
                    class="accordion-controller flex justify-between items-center text-xl text-headingColor font-bold w-full px-10px pt-14px pb-15px md:px-25px md:pt-6 md:pb-25px dark:text-headingColor-dark font-hind leading-[20px] outline-4 outline-transparent transition-none border-b border-transparent"
                  >
                    <span class="text-maroon text-start text-lg md:text-xl"
                      >What is the percentage of Zakat?</span
                    >

                    <svg
                      class="transition-all duration-500 rotate-0"
                      width="20"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      fill="#212529"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                      >
                      </path>
                    </svg>
                  </button>
                </div>
                <!-- content -->
                <div
                  class="h-0 accordion-content transition-all duration-500 overflow-hidden"
                >
                  <div class="content-wrapper py-4 px-5">
                    <p
                      class="leading-7 text-grey dark:text-contentColor-dark mb-15px"
                    >
                      The Zakat percentage is 2.5% of your total wealth and
                      assets. You can use our Zakat Calculator to determine how
                      much you need to pay.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="accordion">
              <div
                class="bg-whiteColor border border-grey border-t-0 dark:bg-whiteColor-dark dark:border-borderColor-dark"
              >
                <!-- controller -->
                <div>
                  <button
                    class="accordion-controller flex justify-between items-center text-xl text-headingColor font-bold w-full px-10px pt-14px pb-15px md:px-25px md:pt-6 md:pb-25px dark:text-headingColor-dark font-hind leading-[20px] outline-4 outline-transparent transition-none border-b border-transparent"
                  >
                    <span class="text-maroon text-lg md:text-xl"
                      >When to pay Zakat?</span
                    >
                    <svg
                      class="transition-all duration-500 rotate-0"
                      width="20"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      fill="#212529"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                      >
                      </path>
                    </svg>
                  </button>
                </div>
                <!-- content -->
                <div
                  class="h-0 accordion-content transition-all duration-500 overflow-hidden"
                >
                  <div class="content-wrapper py-4 px-5">
                    <p class="leading-7 text-grey mb-15px">
                      Zakat is due once your wealth exceeds the Nisab threshold
                      for a complete Islamic lunar year. However, Muslims often
                      opt to pay Zakat during Ramadan to reap countless rewards
                    </p>
                  </div>
                </div>
              </div>
            </li>

            <li class="accordion">
              <div
                class="bg-whiteColor border border-grey border-t-0 dark:bg-whiteColor-dark dark:border-borderColor-dark"
              >
                <!-- controller -->
                <div>
                  <button
                    class="accordion-controller flex justify-between items-center text-xl text-headingColor font-bold w-full px-10px pt-14px pb-15px md:px-25px md:pt-6 md:pb-25px dark:text-headingColor-dark font-hind leading-[20px] outline-4 outline-transparent transition-none border-b border-transparent"
                  >
                    <span class="text-maroon text-lg md:text-xl"
                      >How to pay your Zakat?</span
                    >
                    <svg
                      class="transition-all duration-500 rotate-0"
                      width="20"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      fill="#212529"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                      >
                      </path>
                    </svg>
                  </button>
                </div>
                <!-- content -->
                <div
                  class="h-0 accordion-content transition-all duration-500 overflow-hidden"
                >
                  <div class="content-wrapper py-4 px-5">
                    <p
                      class="leading-7 text-grey dark:text-contentColor-dark mb-15px"
                    >
                      You can pay your Zakat to humanitarian causes like various
                      initiatives Al-Wahab Foundation has been working on to
                      provide relief to those in need. All you need to do is use
                      the <strong>AWF Zakat Calculator</strong>, determine the
                      amount you owe to pay, and proceed by choosing the cause
                      to help the well-deserving.
                    </p>
                  </div>
                </div>
              </div>
            </li>

            <li class="accordion">
              <div
                class="bg-whiteColor border border-grey border-t-0 dark:bg-whiteColor-dark dark:border-borderColor-dark"
              >
                <!-- controller -->
                <div>
                  <button
                    class="accordion-controller flex justify-between items-center text-xl text-headingColor font-bold w-full px-10px pt-14px pb-15px md:px-25px md:pt-6 md:pb-25px dark:text-headingColor-dark font-hind leading-[20px] outline-4 outline-transparent transition-none border-b border-transparent"
                  >
                    <span class="text-maroon text-start text-lg md:text-xl"
                      >Do I owe zakat if I have outstanding debts?</span
                    >
                    <svg
                      class="transition-all duration-500 rotate-0"
                      width="20"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      fill="#212529"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                      >
                      </path>
                    </svg>
                  </button>
                </div>
                <!-- content -->
                <div
                  class="h-0 accordion-content transition-all duration-500 overflow-hidden"
                >
                  <div class="content-wrapper py-4 px-5">
                    <p
                      class="leading-7 text-grey dark:text-contentColor-dark mb-15px font-medium"
                    >
                      The general rule is that debts are subtracted from one’s
                      total wealth, and if the remaining amount still exceeds
                      the nisab threshold, zakat is obligatory; otherwise, it is
                      not.
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-start px-4 md:px-40">
    <p
      class="py-3 px-2 border-2 text-base md:text-lg hover:border-maroon duration-300 border-customBeige font-bold text-maroon"
    >
      Read Now → 10 Rewards of Feeding Hungry People in Ramadan
    </p>
  </div>

  <div class="py-10">
    <p class="py-4 text-grey font-bold text-center text-xl md:text-4xl">
      See Other Projects
    </p>
    <div class="py-8">
      <SeeOtherProjectCards SeeOtherProjects={SeeOtherProject} />
    </div>
  </div>
</Layout>
