---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";

const HeaderBannerDetails = [
    {
      src: "https://alwahabfoundation.org/wp-content/uploads/2024/03/Zakat-cover-2024-01.jpg",
      title: "Zakat Calculator"
    }
]
---

<Layout>
    <HeadersBanner HeadersBanners={HeaderBannerDetails} />

    <div class="container py-8 px-4">
        <div class="row">
            <p class="text-center text-maroon font-bold text-2xl md:text-4xl">Simplify Your Zakat Calculation</p>
            <p class="py-4 text-center text-grey text-base md:text-xl font-medium">
                Determining your Zakat seems to be a difficult task. However, it isn’t as challenging <br>
                as you might think of it. All you need to do is categorise your assets and liabilities in a <br>
                way that makes it convenient for you to <span class="font-bold">calculate Zakat</span>. To make it even more <br>
                convenient and quick, use our Zakat Calculator to find out how much you need <br>
                to pay.
            </p>
            <p class="py-3 text-center text-grey text-base md:text-xl font-medium">
                AWF Zakat Calculator has simplified the calculation by dividing assets into items to <br>
                be considered to pay Zakat for (such as gold, silver, cash, savings, and business <br>
                assets) and deductible liabilities (including debts and other outgoing payments). <br>
                Using this breakdown, you can easily calculate Zakat. 
            </p>
            <p class="py-3 text-center text-grey text-base md:text-xl font-medium">
                Once you assess the value of your net assets, you can determine the amount of Zakat <br>
                 owed. It’s crucial to compare your net assets to the nisab threshold to find out <br>
                  whether Zakat is obligatory.
            </p>
            <div class="py-4 px-10 flex justify-center">
                <!-- First Button Container -->
                <div class="w-1/2 flex justify-center">
                    <a class="bg-maroon rounded-full px-4 py-2 text-xl font-bold hover:bg-customBeige text-white" href="">
                        GIve Zakat
                    </a>
                </div>
                <!-- Second Button Container -->
                <div class="w-1/2 flex justify-center">
                    <a class="bg-maroon rounded-full px-4 py-2 text-xl font-bold hover:bg-customBeige text-white" href="">
                        Calculate Your Zakat
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-[#AA71454D] mx-auto max-w-screen-2xl">
        <div class="row">
            <div class="flex justify-between">
                <div class="w-3/5 ">
                    <div class="bg-maroon w-[780px] my-12">
                        <p class="text-center text-white font-bold md:text-4xl pt-10 ">Zakat Calculator</p>
                        <div class=" ">
                            <div class="flex justify-between items-center space-x-7 px-14 pt-7">
                                <label class="items-start justify-start mr-auto text-lg font-bold  text-white" for="amount">Cash at Home/Bank</label>
                                <input type="text" class="text-lg font-medium text-start rounded-md px-2 py-2 w-96" placeholder="£">
                            </div>

                            <!-- Gold & Silver -->
                            <div class="flex justify-between items-center space-x-7 px-14 pt-7">
                                <label class="items-start justify-start mr-auto text-lg font-bold  text-white" for="amount">Gold & Silver</label>
                                <input type="text" class="text-lg font-medium text-start rounded-md px-2 py-2 w-96" placeholder="£">
                            </div>

                            <!-- Property -->
                            <div class="flex justify-between items-center space-x-7 px-14 pt-7">
                                <label class="items-start justify-start mr-auto text-lg font-bold  text-white" for="amount">Property (Other Than Home)</label>
                                <input type="text" class="text-lg font-medium text-start rounded-md px-2 py-2 w-96" placeholder="£">
                            </div>

                            <!-- Pensions -->

                            <div class="flex justify-between items-center space-x-7 px-14 pt-7">
                                <label class="items-start justify-start mr-auto text-lg font-bold  text-white" for="amount">Pensions</label>
                                <input type="text" class="text-lg font-medium text-start rounded-md px-2 py-2 w-96" placeholder="£">
                            </div>

                            <!-- shares -->

                            <div class="flex justify-between items-center space-x-7 px-14 pt-7">
                                <label class="items-start justify-start mr-auto text-lg font-bold  text-white" for="amount">Shares</label>
                                <input type="text" class="text-lg font-medium text-start rounded-md px-2 py-2 w-96" placeholder="£">
                            </div>

                            <!-- Other inc=vestments -->
                            <div class="flex justify-between items-center space-x-7 px-14 pt-7">
                                <label class="items-start justify-start mr-auto text-lg font-bold  text-white" for="amount">Other Investments</label>
                                <input type="text" class="text-lg font-medium text-start rounded-md px-2 py-2 w-96" placeholder="£">
                            </div>
                            <!-- Money Owed To You -->
                            <div class="flex justify-between items-center space-x-7 px-14 pt-7">
                                <label class="items-start justify-start mr-auto text-lg font-bold  text-white" for="amount">Money Owed To You</label>
                                <input type="text" class="text-lg font-medium text-start rounded-md px-2 py-2 w-96" placeholder="£">
                            </div>

                            <!-- Business Value -->

                            <div class="flex justify-between items-center space-x-7 px-14 pt-7">
                                <label class="items-start justify-start mr-auto text-lg font-bold  text-white" for="amount">Business Value</label>
                                <input type="text" class="text-lg font-medium text-start rounded-md px-2 py-2 w-96" placeholder="£">
                            </div>

                             <!-- Business Debts -->

                             <div class="flex justify-between items-center space-x-7 px-14 pt-7">
                                <label class="items-start justify-start mr-auto text-lg font-bold  text-white" for="amount">Business Debts</label>
                                <input type="text" class="text-lg font-medium text-start rounded-md px-2 py-2 w-96" placeholder="£">
                            </div>

                             <!-- Unpaid Debts -->

                             <div class="flex justify-between items-center space-x-7 px-14 pt-7">
                                <label class="items-start justify-start mr-auto text-lg font-bold  text-white" for="amount">Unpaid Debts</label>
                                <input type="text" class="text-lg font-medium text-start rounded-md px-2 py-2 w-96" placeholder="£">
                            </div>

                              <!-- Total Assets -->
                              <div class="flex justify-between items-center space-x-7 px-14 pt-7">
                                <p  class="text-lg font-bold  text-white">Total Assets</p>
                              </div>
                              <!-- Zakat Payable -->
                              <div class="flex justify-between items-center space-x-7 px-14 pt-7">
                                <p class="text-lg font-bold  text-white">Zakat Payable</p>
                              </div>

                              <div class="flex justify-center items-center py-5 pb-10">
                                <a class="md:text-lg text-lg font-bold text-white bg-customBeige hover:text-maroon hover:bg-white duration-300 px-14 py-5 rounded-full  " href="">Pay Your Zakat</a>
                              </div>
                              

                        </div>
                    </div>
                    
                </div>
                <div class="w-2/5 ">
                    <div class="">
                        <img class="w-96" src="https://alwahabfoundation.org/wp-content/uploads/2024/03/Ramadan-Food-Packs-Queue-1024x683.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>