<footer class="bg-grey text-gray-200 px-6 md:px-14 pt-8 md:pt-16 pb-6 md:pb-10">
    <div class="container mx-auto">
        <!-- Logo and Description Section -->
        <div class="flex flex-wrap lg:flex-nowrap gap-6 lg:gap-8">
            <!-- Logo and Description -->
            <div class="w-full lg:w-1/3 text-center lg:text-left">
                <div class="flex justify-center lg:justify-start items-center space-x-2">
                    <img
                        src="/assets/images/AWF-Logo-File_Icon-White.png"
                        alt="Al-Wahab Foundation"
                        class="w-[120px] h-[60px] md:w-[150px] md:h-[80px]"
                    />
                </div>
                <p class="mt-4 text-base leading-6 font-medium text-[#ffffff]">
                    Since 2014, <strong class="font-semibold text-base"
                        >Al-Wahab Foundation (AWF)</strong
                    > has delivered emergency and developmental aid to combat
                    and eradicate poverty, growing to reach thousands of people
                    each year.
                </p>
            </div>

            <!-- Links Section -->
            <div
                class="w-full lg:flex-grow grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-6 lg:mt-0 text-center lg:text-left"
            >
                <!-- Appeals -->
                <div>
                    <h3 class="font-bold text-xl md:text-2xl mb-4 md:mb-6 text-white">APPEALS</h3>
                    <ul class="space-y-2 text-sm">
                        <li>
                            <a
                                href="/appeals/water"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Water for Life</a
                            >
                        </li>
                        <li>
                            <a
                                href="/appeals/cooked-food"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Feed the Hungry</a
                            >
                        </li>
                        <li>
                            <a
                                href="/appeals/build-a-masjid"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Build a Masjid</a
                            >
                        </li>
                        <li>
                            <a
                                href="/appeals/rozgar-project"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Provide Livelihood</a
                            >
                        </li>
                        <li>
                            <a
                                href="/natural-disaster/morocco"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Earthquake Appeal</a
                            >
                        </li>
                        <li>
                            <a
                                href="/appeals/hope-for-uganda"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Hope for Uganda</a
                            >
                        </li>
                        <li>
                            <a
                                href="/appeals/where-most-needed"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Where Most Needed</a
                            >
                        </li>
                    </ul>
                </div>

                <!-- Giving -->
                <div>
                    <h3 class="font-bold text-xl md:text-2xl mb-4 md:mb-6 text-white">GIVING</h3>
                    <ul class="space-y-2 text-sm">
                        <li>
                            <a
                                href="/appeals/pay-zakat-online"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Zakat</a
                            >
                        </li>
                        <li>
                            <a
                                href="/appeals/sadaqah"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Sadaqah</a
                            >
                        </li>
                        <li>
                            <a
                                href="/appeals/give-the-gift-of-sight"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Eye Care</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Sitemap</a
                            >
                        </li>
                    </ul>
                </div>

                <!-- About Us -->
                <div class="md:-ms-14">
                    <h3 class="font-bold text-xl md:text-2xl mb-4 md:mb-6 text-white">ABOUT US</h3>
                    <ul class="space-y-2 text-sm">
                        <li>
                            <a
                                href="/aboutus"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >About Us</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Annual Report</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Board of Trustees</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >Get Involved</a
                            >
                        </li>
                    </ul>
                </div>

                <!-- Contact Us -->
                <div class="md:-ms-14">
                    <h3 class="font-bold text-xl md:text-2xl mb-4 md:mb-6 text-white">CONTACT US</h3>
                    <ul class="space-y-2 text-sm">
                        <li class="flex justify-center lg:justify-start items-center gap-2">
                            <i class="fa-solid fa-phone text-xl text-customBeige"></i>
                            <a
                                href="tel:02089038944"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >020 8903 8944</a
                            >
                        </li>
                        <li class="flex justify-center lg:justify-start items-center gap-2">
                            <i class="fa-regular fa-envelope text-xl text-customBeige"></i>
                            <a
                                href="mailto:info@alwahabfoundation.org"
                                class="font-medium text-base text-white hover:text-customBeige "
                                >info@alwahabfoundation.org</a
                            >
                        </li>
                        <li class="flex justify-center lg:justify-start items-center gap-2">
                            <i class="fa-solid fa-location-dot text-xl text-customBeige"></i>
                            <a
                                href="https://www.google.com/maps/place/AlWahab+Foundation/@51.5775037,-0.372782,17z/data=!3m1!4b1!4m6!3m5!1s0x487613f01b9cd225:0x39852dcf692bef71!8m2!3d51.5775004!4d-0.3702071!16s%2Fg%2F11s7q5l1qw?entry=ttu"
                                class="font-medium text-base text-white hover:text-customBeige"
                                >16 Village Way East, Harrow, HA2 7LU</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Donate Button and Social Media -->
        <div class="mt-6 md:mt-8 text-center">
            <button
                class="bg-customBeige hover:bg-white text-white hover:text-maroon text-lg md:text-xl font-bold uppercase py-3 px-8 md:py-4 md:px-12 rounded-full transition duration-300"
                >DONATE NOW <i class="fa-solid fa-heart hover:text-maroon"></i>
            </button>
            <div class="flex justify-center space-x-4 md:space-x-6 mt-4 md:mt-6">
                <!-- Social Media Icons -->
                <a
                    href="#"
                    class="w-8 h-8 md:w-9 md:h-9 rounded-full flex items-center justify-center hover:bg-white"
                >
                    <i
                        class="fa-brands fa-facebook fa-xl md:fa-2xl text-white hover:text-maroon"
                    ></i>
                </a>
                <a href="#" class="flex items-center justify-center">
                    <i
                        class="fa-brands fa-youtube fa-xl md:fa-2xl text-white hover:text-maroon"
                    ></i>
                </a>
                <a href="#" class="flex items-center justify-center">
                    <i
                        class="fa-brands fa-instagram fa-xl md:fa-2xl text-white hover:text-maroon"
                    ></i>
                </a>
                <a href="#" class="flex items-center justify-center">
                    <i
                        class="fa-brands fa-linkedin-in fa-xl md:fa-2xl text-white hover:text-maroon"
                    ></i>
                </a>
                <a href="#" class="flex items-center justify-center">
                    <i
                        class="fa-brands fa-twitter fa-xl md:fa-2xl text-white hover:text-maroon"
                    ></i>
                </a>
                <a href="#" class="flex items-center justify-center">
                    <i
                        class="fa-brands fa-tiktok fa-xl md:fa-2xl text-white hover:text-maroon"
                    ></i>
                </a>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="mt-6 md:mt-8 text-xs md:text-sm text-center text-gray-400">
            <p>
                Al-Wahab Foundation is registered in England. Registered
                Charity Number: 1196664 / Registered Company Number:
                13750092
            </p>
            <div class="flex items-center justify-around mt-4">
                <p class="mt-2 text-lg font-medium text-white">
                    © 2024. Al-Wahab Foundation. All rights reserved.
                </p>
                <p class="mt-2 text-lg font-medium text-white">
                    <a href="#" class="font-medium">FAQ </a> |
                    <a href="#" class="font-medium">Terms & Conditions </a> |
                    <a href="#" class="font-medium">Privacy Policy</a>
                </p>
            </div> 
        </div>
    </div>
</footer>
