---
export interface Props {
  HeadersBanners: {
    src: string;
    title: string;
    titleline1: string;
    titleline2: string;
  }[];
}

const { HeadersBanners } = Astro.props;
---

{HeadersBanners.map((items) => (
  <div class="relative w-full ">
    {/* Banner Image */}
    <img
      src={items.src}
      class="w-full sm:h-96 md:h-[510px] object-cover"
      alt="Website banner"
    />

    {/* Gradient Overlay */}
    <div 
    style="background: linear-gradient(0deg, maroon 8%, rgba(148, 67, 74, 0) 45%);"
    class="absolute inset-0 opacity-60"></div>

    {/* Text Overlay at the bottom */}
    <div class="absolute bottom-4 left-0 w-full p-4">
      <p class="text-lg md:text-5xl text-white text-center font-bold">
        {items.title}   <br />
        {items.titleline1}   <br />
        {items.titleline2}

      </p>
    </div>
  </div>
))}