<!--======= Header area start =======-->
<header>
  <!-- navbar start -->
  <div
    class="transition-all duration-500 sticky-header z-medium dark:bg-whiteColor-dark"
  >
    <nav>
      <div
        class="py-15px lg:py-0 px-15px lg:container 3xl:container2-lg 4xl:container mx-auto relative"
      >
        <div class="grid grid-cols-2 lg:grid-cols-12 items-center gap-15px">
          <!-- navbar left -->
          <div class="lg:col-start-1 lg:col-span-2 mt-3">
            <a href="index.html" class="block"
              ><img
                src="/assets/images/al-wahab-foundation-logo.png"
                alt="Logo"
                class="w-logo-sm lg:w-auto py-2"
              /></a
            >
          </div>
          <!-- Main menu -->
          <div class="hidden lg:block lg:col-start-3 lg:col-span-12">
            <ul class="nav-list flex justify-center gap-0 text-maroon mt-3">
              <li class="nav-item group">
                <a
                  href="/"
                  class="nav-link px-5 lg:px-10px 2xl:px-15px 3xl:px-5 py-10 lg:py-5 2xl:py-30px 3xl:py-10 leading-sm 2xl:leading-lg text-base lg:text-sm 2xl:text-base font-semibold block group-hover:text-customBeige group-hover:underline underline-offset-8 decoration-2 decoration-maroon duration-700 dark:text-whiteColor [&[aria-current='page']]:text-customBeige [&[aria-current='page']]:underline"
                >
                  Home
                </a>
              </li>
              <li class="nav-item group">
                <a
                  href="#"
                  class="nav-link px-5 lg:px-10px 2xl:px-15px 3xl:px-5 py-10 lg:py-5 2xl:py-30px 3xl:py-10 leading-sm 2xl:leading-lg text-base lg:text-sm 2xl:text-base font-semibold group-hover:text-customBeige group-hover:underline underline-offset-8 decoration-2 decoration-maroon dark:text-whiteColor [&[aria-current='page']]:text-customBeige [&[aria-current='page']]:underline"
                >
                  Natural Disasters
                  <i class="icofont-rounded-down mt-[3px]"></i>
                </a>
                <!-- dropdown menu -->
                <div
                  class="dropdown absolute right-auto translate-y-10 z-medium hidden opacity-0"
                  style="transition: 0.5s"
                >
                  <div
                    class="shadow-dropdown max-w-dropdown2 w-2000 py-14px rounded-standard bg-maroon dark:bg-whiteColor-dark"
                  >
                    <ul>
                      <li class="relative group/nested">
                        <a
                          href="/natural-disaster/rohingya"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Rohingya Appeal
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="/natural-disaster/afg-earthquake"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Afganisthan Earthquake Appeal
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="/natural-disaster/morocco"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Morocco Earthquake Appeal
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="/natural-disaster/earthquake-turkey"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Earthquake Turkey
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="nav-item group">
                <a
                  href="" class="nav-link px-5 lg:px-10px 2xl:px-15px 3xl:px-5 py-10 lg:py-5 2xl:py-30px 3xl:py-10 leading-sm 2xl:leading-lg text-base lg:text-sm 2xl:text-base font-semibold group-hover:text-customBeige group-hover:underline underline-offset-8 decoration-2 decoration-maroon dark:text-whiteColor [&[aria-current='page']]:text-customBeige [&[aria-current='page']]:underline">
                  Appeals
                  <i class="icofont-rounded-down mt-[4px] hover:no-underline"
                  ></i>
                </a>
                <!-- dropdown menu -->
                <div
                  class="dropdown absolute right-auto translate-y-10 z-medium hidden opacity-0"
                  style="transition: 0.5s"
                >
                  <div
                    class="shadow-dropdown max-w-dropdown2 w-2000 py-14px rounded-standard bg-maroon dark:bg-whiteColor-dark"
                  >
                    <ul>
                      <li class="relative group/nested">
                        <a
                          href="/appeals/winter-survival-kit"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Winter Survival Kit
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="/appeals/hope-for-uganda"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Hope For Uganda
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="./pages/dashboards/admin-dashboard.html"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Feed the Hungry
                          <i class="icofont-rounded-right"></i>
                        </a>
                        <!-- dropdown menu -->
                        <div
                          class="nested-dropdown absolute left-full top-0 z-50 hidden opacity-0 group-hover/nested:block group-hover/nested:opacity-100"
                          style="transition: 0.3s"
                        >
                          <div
                            class="shadow-dropdown max-w-dropdown2 w-2000 py-14px rounded-standard bg-maroon dark:bg-whiteColor-dark"
                          >
                            <ul>
                              <li class="relative group/nested2">
                                <a
                                  href="/appeals/food-packs"
                                  class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                                >
                                  Food Packs
                                </a>
                              </li>
                              <li>
                                <a
                                  href="/appeals/cooked-food"
                                  class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige block leading-sm lg:leading-lg 2xl:leading-lg dark:text-contentColor-dark dark:hover:text-primaryColor dark:hover:bg-whitegrey1-dark"
                                >
                                  Cooked Food
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="/appeals/water"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Water for Life
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="/appeals/build-a-masjid"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Build a Masjid
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="/appeals/maktab"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Support a Maktab
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="#"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Provide Livelihood
                          <i class="icofont-rounded-right"></i>
                        </a>
                        <!-- dropdown menu -->
                        <div
                          class="nested-dropdown absolute left-full top-0 z-50 hidden opacity-0 group-hover/nested:block group-hover/nested:opacity-100"
                          style="transition: 0.3s"
                        >
                          <div
                            class="shadow-dropdown max-w-dropdown2 w-2000 py-14px rounded-standard bg-maroon dark:bg-whiteColor-dark"
                          >
                            <ul>
                              <li class="relative group/nested2">
                                <a
                                  href="/appeals/rozgar-project"
                                  class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                                >
                                  Rozgar Project
                                </a>
                              </li>
                              <li>
                                <a
                                  href="/appeals/women-empowerment"
                                  class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige block leading-sm lg:leading-lg 2xl:leading-lg dark:text-contentColor-dark dark:hover:text-primaryColor dark:hover:bg-whitegrey1-dark"
                                >
                                  Women Empowerment
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="/appeals/give-the-gift-of-sight"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Eye Care
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="/appeals/serving-humanity-in-the-uk"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Serving Humanity(UK)
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="/appeals/pay-zakat-online"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                          Pay Zakat Online
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href=""
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                        Give your Sadaqah
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href=""
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                        Where Most Needed
                        </a>
                      </li>
                      <li class="relative group/nested">
                        <a
                          href="/appeals/zakat-calculator"
                          class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                        >
                        Zakat Calculator
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="nav-item group relative">
                <a
                  href="/aboutus"
                  class="nav-link px-5 lg:px-10px 2xl:px-15px 3xl:px-5 py-10 lg:py-5 2xl:py-30px 3xl:py-10 leading-sm 2xl:leading-lg text-base lg:text-sm 2xl:text-base font-semibold flex group-hover:text-customBeige group-hover:underline underline-offset-8 decoration-2 decoration-maroon duration-700 dark:text-whiteColor [&[aria-current='page']]:text-customBeige [&[aria-current='page']]:underline"
                >
                  About Us
                  <!-- <i class="icofont-rounded-down"></i> -->
                </a>
                <!-- First Level Dropdown -->
                <!-- <div
                                    class="dropdown absolute left-0 translate-y-10 z-medium hidden opacity-0"
                                    style="transition: 0.5s"
                                >
                                    <div
                                        class="shadow-dropdown max-w-dropdown2 w-2000 py-14px rounded-standard bg-maroon dark:bg-whiteColor-dark"
                                    >
                                        <ul>
                                            <li class="relative group/nested">
                                                <a
                                                    href="./pages/dashboards/admin-dashboard.html"
                                                    class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                                                >
                                                    About Us under item
                                                    <i
                                                        class="icofont-rounded-right"
                                                    ></i>
                                                </a>
                                                <div
                                                    class="nested-dropdown absolute left-full top-0 z-50 hidden opacity-0 group-hover/nested:block group-hover/nested:opacity-100"
                                                    style="transition: 0.3s"
                                                >
                                                    <div
                                                        class="shadow-dropdown max-w-dropdown2 w-2000 py-14px rounded-standard bg-maroon dark:bg-whiteColor-dark"
                                                    >
                                                        <ul>
                                                            <li
                                                                class="relative group/nested2"
                                                            >
                                                                <a
                                                                    href="./pages/dashboards/admin-dashboard.html"
                                                                    class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                                                                >
                                                                    Our Scholar
                                                                    <i
                                                                        class="icofont-rounded-right"
                                                                    ></i>
                                                                </a>
                                                                <div
                                                                    class="nested-dropdown absolute left-full top-0 z-50 hidden opacity-0 group-hover/nested2:block group-hover/nested2:opacity-100"
                                                                    style="transition: 0.3s"
                                                                >
                                                                    <div
                                                                        class="shadow-dropdown max-w-dropdown2 w-2000 py-14px rounded-standard bg-maroon dark:bg-whiteColor-dark"
                                                                    >
                                                                        <ul>
                                                                            <li>
                                                                                <a
                                                                                    href="./pages/dashboards/admin-dashboard-overview.html"
                                                                                    class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige block hover:text-white leading-sm lg:leading-lg 2xl:leading-lg dark:text-contentColor-dark dark:hover:text-primaryColor dark:hover:bg-whitegrey1-dark"
                                                                                >
                                                                                    Mufti
                                                                                    Abdul
                                                                                    Wahab
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="relative group/nested">
                                                <a
                                                    href="./pages/dashboards/admin-dashboard.html"
                                                    class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                                                >
                                                    Annual Reports
                                                </a>
                                            </li>
                                            <li class="relative group/nested">
                                                <a
                                                    href="./pages/dashboards/admin-dashboard.html"
                                                    class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                                                >
                                                    Board of Trustees
                                                </a>
                                            </li>
                                            <li class="relative group/nested">
                                                <a
                                                    href="/appeals"
                                                    class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                                                >
                                                    Prayer Timetable
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div> -->
              </li>
              <li class="nav-item group relative">
                <a
                  href="./pages/ecommerce/shop.html"
                  class="nav-link px-5 lg:px-10px 2xl:px-15px 3xl:px-5 py-10 lg:py-5 2xl:py-30px 3xl:py-10 leading-sm 2xl:leading-lg text-base lg:text-sm 2xl:text-base font-semibold block group-hover:text-customBeige group-hover:underline underline-offset-8 decoration-2 decoration-maroon duration-700 dark:text-whiteColor [&[aria-current='page']]:text-customBeige [&[aria-current='page']]:underline"
                >
                  Stories of Hope
                </a>
              </li>
              <!-- <li class="nav-item group">
                                <a
                                    href="#"
                                    class="nav-link px-5 lg:px-10px 2xl:px-15px 3xl:px-5 py-10 lg:py-5 2xl:py-30px 3xl:py-10 leading-sm 2xl:leading-lg text-base lg:text-sm 2xl:text-base font-semibold flex group-hover:text-customBeige group-hover:underline underline-offset-8 decoration-2 decoration-maroon dark:text-whiteColor [&[aria-current='page']]:text-customBeige [&[aria-current='page']]:underline"
                                >
                                    Events
                                    <i class="icofont-rounded-down  mt-[3px]"></i>
                                </a>
                                <div
                                    class="dropdown absolute right-auto translate-y-10 z-medium hidden opacity-0"
                                    style="transition: 0.5s"
                                >
                                    <div
                                        class="shadow-dropdown max-w-dropdown2 w-2000 py-14px rounded-standard bg-maroon dark:bg-whiteColor-dark"
                                    >
                                        <ul>
                                            <li class="relative group/nested">
                                                <a
                                                    href="./pages/dashboards/admin-dashboard.html"
                                                    class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                                                >
                                                    Charity Dinner Birmingham
                                                </a>
                                            </li>
                                            <li class="relative group/nested">
                                                <a
                                                    href="./pages/dashboards/admin-dashboard.html"
                                                    class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                                                >
                                                    Charity Dinner London
                                                </a>
                                            </li>
                                            <li class="relative group/nested">
                                                <a
                                                    href="./pages/dashboards/admin-dashboard.html"
                                                    class="text-sm 2xl:text-base font-semibold text-white transition duration-300 px-25px py-10px hover:bg-customBeige hover:text-white leading-sm lg:leading-lg 2xl:leading-lg flex justify-between items-center dark:bg-whiteColor-dark dark:text-contentColor-dark dark:hover:bg-whitegrey1-dark dark:hover:text-primaryColor"
                                                >
                                                    Charity Dinner Manchester
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li> -->
              <li class="nav-item group">
                <a
                  href=""
                  class="nav-link px-5 lg:px-10px 2xl:px-15px 3xl:px-5 py-10 lg:py-5 2xl:py-30px 3xl:py-10 leading-sm 2xl:leading-lg text-base lg:text-sm 2xl:text-base font-semibold block group-hover:text-customBeige group-hover:underline underline-offset-8 decoration-2 decoration-maroon duration-700 dark:text-whiteColor [&[aria-current='page']]:text-customBeige [&[aria-current='page']]:underline"
                >
                  Latest Updates
                </a>
              </li>
              <li class="nav-item group">
                <a
                  href="/contact-us"
                  class="nav-link px-5 lg:px-10px 2xl:px-15px 3xl:px-5 py-10 lg:py-5 2xl:py-30px 3xl:py-10 leading-sm 2xl:leading-lg text-base lg:text-sm 2xl:text-base font-semibold block group-hover:text-customBeige group-hover:underline underline-offset-8 decoration-2 decoration-maroon duration-700 dark:text-whiteColor [&[aria-current='page']]:text-customBeige [&[aria-current='page']]:underline"
                >
                  Contact Us
                </a>
              </li>
            </ul>
          </div>
          <!-- navbar right -->
          <div class="">
            <ul class="relative nav-list flex justify-end items-center">
              <li class="block lg:hidden">
                <button
                  class="open-mobile-menu text-3xl text-maroon hover:text-customBeige dark:text-whiteColor dark:hover:text-secondaryColor"
                >
                  <i class="icofont-navigation-menu"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- navbar end -->

  <!-- mobile menu -->
  <div
    class="mobile-menu w-mobile-menu-sm md:w-mobile-menu-lg fixed top-0 -right-[280px] md:-right-[330px] transition-all duration-500 w-mobile-menu h-full shadow-dropdown-secodary bg-whiteColor dark:bg-whiteColor-dark z-high block lg:hidden"
  >
    <button
      class="close-mobile-menu text-xl bg-customBeige hover:bg-maroon text-white px-[11px] py-[6px] absolute top-0 right-full hidden"
    >
      <i class="icofont icofont-close-line"></i>
    </button>
    <!-- mobile menu wrapper -->
    <div class="px-5 md:px-30px pt-5 md:pt-10 pb-50px h-full overflow-y-auto">
      <!-- mobile menu accordions -->
      <div
        class="pt-8 pb-6 border-b border-borderColor dark:border-borderColor-dark"
      >
        <ul class="accordion-container">
          <li class="accordion">
            <!-- accordion header -->
            <div class="flex items-center justify-between">
              <a
                class="nav-link leading-1 py-11px text-darkdeep1 font-medium hover:text-maroon dark:text-whiteColor dark:hover:text-secondaryColor [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                href="/">Home</a
              >
            </div>
          </li>
          <li class="accordion">
            <!-- accordion header -->
            <div class="flex items-center justify-between">
              <a
                class="nav-link leading-1 py-11px text-darkdeep1 font-medium hover:text-maroon dark:text-whiteColor dark:hover:text-secondaryColor [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                href="">Natural Disasters</a
              >
              <button class="accordion-controller px-3 py-4">
                <spa
                  class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor"
                ></spa><span
                  class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor rotate-90 -mt-[1px] transition-all duration-500"
                ></span>
              </button>
            </div>
            <!-- accordion content -->
            <div
              class="accordion-content h-0 overflow-hidden transition-all duration-500"
            >
              <div class="content-wrapper">
                <ul class="accordion-container">
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="/natural-disaster/rohingya"
                        class="nav-link leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium hover:text-maroon dark:text-whiteColor dark:hover:text-secondaryColor [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Rohingya Appeal</a
                      >
                    </div>
                  </li>
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="/natural-disaster/afg-earthquake"
                        class="nav-link leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium hover:text-maroon dark:text-whiteColor dark:hover:text-secondaryColor [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Afganisthan Earthquake Appeal</a
                      >
                    </div>
                  </li>
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="#"
                        class="nav-link leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium hover:text-maroon dark:text-whiteColor dark:hover:text-secondaryColor [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Morocco Earthquake Appeal</a
                      >
                    </div>
                  </li>
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="#"
                        class="nav-link leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium hover:text-maroon dark:text-whiteColor dark:hover:text-secondaryColor [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Earthquake Turkey</a
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="accordion">
            <!-- accordion header -->
            <div class="flex items-center justify-between">
              <a
                class="nav-link leading-1 py-11px text-darkdeep1 font-medium hover:text-maroon dark:text-whiteColor dark:hover:text-secondaryColor [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                href="course.html">Appeals</a
              >
              <button class="accordion-controller px-3 py-4">
                <span
                  class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor"
                ></span><span
                  class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor rotate-90 -mt-[1px] transition-all duration-500"
                ></span>
              </button>
            </div>
            <!-- accordion content -->
            <div
              class="accordion-content h-0 overflow-hidden transition-all duration-500"
            >
              <div class="content-wrapper">
                <ul class="accordion-container">
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="#"
                        class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Winter Survival Kit</a
                      >
                    </div>
                  </li>
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="#"
                        class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Hope For Uganda</a
                      >
                    </div>
                  </li>
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="#"
                        class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Feed the Hungry</a
                      >
                      <button class="accordion-controller px-3 py-4">
                        <span
                          class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor"
                        ></span><span
                          class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor rotate-90 -mt-[1px] transition-all duration-300"
                        ></span>
                      </button>
                    </div>
                    <!-- accordion content -->
                    <div
                      class="accordion-content h-0 overflow-hidden transition-all duration-300"
                    >
                      <div class="content-wrapper">
                        <!-- Dropdown -->
                        <ul>
                          <li>
                            <a
                              href="/appeals/food-packs"
                              class="leading-1 text-darkdeep1 text-sm pl-30px pt-3 pb-7px font-light dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                              >Food Packs</a
                            >
                          </li>

                          <li>
                            <a
                              href="./pages/dashboards/create-course.html"
                              class="leading-1 text-darkdeep1 text-sm pl-30px pt-3 pb-7px font-light dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                              >Cooked Food
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="#"
                        class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Water for Life</a
                      >
                    </div>
                  </li>
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="#"
                        class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Build a Masjid</a
                      >
                    </div>
                  </li>
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="#"
                        class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Support a Maktab</a
                      >
                    </div>
                  </li>
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="#"
                        class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Provide Livelihood</a
                      >
                      <button class="accordion-controller px-3 py-4">
                        <span
                          class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor"
                        ></span><span
                          class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor rotate-90 -mt-[1px] transition-all duration-300"
                        ></span>
                      </button>
                    </div>
                    <!-- accordion content -->
                    <div
                      class="accordion-content h-0 overflow-hidden transition-all duration-300"
                    >
                      <div class="content-wrapper">
                        <!-- Dropdown -->
                        <ul>
                          <li>
                            <a
                              href=""
                              class="leading-1 text-darkdeep1 text-sm pl-30px pt-3 pb-7px font-light dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                              >Rozgar Project</a
                            >
                          </li>

                          <li>
                            <a
                              href=""
                              class="leading-1 text-darkdeep1 text-sm pl-30px pt-3 pb-7px font-light dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                              >Women Empowerment
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="#"
                        class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Feed the Hungry</a
                      >
                      <button class="accordion-controller px-3 py-4">
                        <span
                          class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor"
                        ></span><span
                          class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor rotate-90 -mt-[1px] transition-all duration-300"
                        ></span>
                      </button>
                    </div>
                    <!-- accordion content -->
                    <div
                      class="accordion-content h-0 overflow-hidden transition-all duration-300"
                    >
                      <div class="content-wrapper">
                        <!-- Dropdown -->
                        <ul>
                          <li>
                            <a
                              href=""
                              class="leading-1 text-darkdeep1 text-sm pl-30px pt-3 pb-7px font-light dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                              >Food Packs</a
                            >
                          </li>

                          <li>
                            <a
                              href=""
                              class="leading-1 text-darkdeep1 text-sm pl-30px pt-3 pb-7px font-light dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                              >Cooked Food
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="accordion">
                    <!-- accordion header -->
                    <div class="flex items-center justify-between">
                      <a
                        href="#"
                        class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                        >Feed the Hungry</a
                      >
                      <button class="accordion-controller px-3 py-4">
                        <span
                          class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor"
                        ></span><span
                          class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor rotate-90 -mt-[1px] transition-all duration-300"
                        ></span>
                      </button>
                    </div>
                    <!-- accordion content -->
                    <div
                      class="accordion-content h-0 overflow-hidden transition-all duration-300"
                    >
                      <div class="content-wrapper">
                        <!-- Dropdown -->
                        <ul>
                          <li>
                            <a
                              href=""
                              class="leading-1 text-darkdeep1 text-sm pl-30px pt-3 pb-7px font-light dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                              >Eye Care</a
                            >
                          </li>

                          <li>
                            <a
                              href="/appeals/pay-zakat-online"
                              class="leading-1 text-darkdeep1 text-sm pl-30px pt-3 pb-7px font-light dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                              >Pay Zakat Online
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- <li class="accordion">
                        <div class="flex items-center justify-between">
                            <a class="leading-1 py-11px text-darkdeep1 font-medium hover:text-secondaryColor dark:text-whiteColor dark:hover:text-secondaryColor"
                                href="./pages/dashboards/instructor-dashboard.html">
                                Who we are
                            </a>
                            <button class="accordion-controller px-3 py-4">
                                <span class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor"></span>
                                <span class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor rotate-90 -mt-[1px] transition-all duration-500"></span>
                            </button>
                        </div>
                        <div class="accordion-content h-0 overflow-hidden transition-all duration-500">
                            <div class="content-wrapper">
                                <ul class="accordion-container">
                                    <li class="accordion">
                                        <div class="flex items-center justify-between">
                                            <a href="./pages/dashboards/admin-dashboard.html"
                                                class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium hover:text-secondaryColor dark:text-whiteColor dark:hover:text-secondaryColor">
                                                About Us
                                            </a>
                                            <button class="accordion-controller px-3 py-4">
                                                <span class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor"></span>
                                                <span class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor rotate-90 -mt-[1px] transition-all duration-500"></span>
                                            </button>
                                        </div>
                                        <div class="accordion-content h-0 overflow-hidden transition-all duration-500">
                                            <div class="content-wrapper">
                                                <ul class="accordion-container">
                                                    <li class="accordion">
                                                        <div class="flex items-center justify-between">
                                                            <a href="./pages/dashboards/admin-dashboard.html"
                                                                class="leading-1 text-darkdeep1 text-sm pl-30px pt-3 pb-7px font-medium hover:text-secondaryColor dark:text-whiteColor dark:hover:text-secondaryColor">
                                                                About Us
                                                            </a>
                                                            <button id="third-level-accordion-btn" class="accordion-controller px-3 py-4">
                                                                <span class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor"></span>
                                                                <span class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor rotate-90 -mt-[1px] transition-all duration-500"></span>
                                                            </button>
                                                        </div>
                                                        <div id="third-level-accordion-content" class="hidden accordion-content h-auto overflow-hidden transition-all duration-500">
                                                            <div class="content-wrapper py-2">
                                                                <ul class="space-y-2">
                                                                    <li>
                                                                        <a href="./pages/dashboards/become-an-instructor.html"
                                                                            class="leading-1 text-darkdeep1 text-sm pl-45px pt-3 pb-7px font-light hover:text-secondaryColor dark:text-whiteColor dark:hover:text-secondaryColor block">
                                                                            Food Packs
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="./pages/dashboards/create-course.html"
                                                                            class="leading-1 text-darkdeep1 text-sm pl-45px pt-3 pb-7px font-light hover:text-secondaryColor dark:text-whiteColor dark:hover:text-secondaryColor block">
                                                                            Cooked Food
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li> -->
          <li class="accordion">
            <!-- accordion header -->
            <div class="flex items-center justify-between">
              <a
                class="nav-link leading-1 py-11px text-darkdeep1 font-medium hover:text-maroon dark:text-whiteColor dark:hover:text-secondaryColor [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                href="/aboutus">About Us</a
              >
            </div>
          </li>
          <li class="accordion">
            <!-- accordion header -->
            <div class="flex items-center justify-between">
              <a
                class="leading-1 py-11px text-darkdeep1 font-medium dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                href="">Stories of Hope</a
              >
            </div>
          </li>
          <li class="accordion">
            <!-- accordion header -->
            <div class="flex items-center justify-between">
              <a
                class="leading-1 py-11px text-darkdeep1 font-medium dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                href="">Latest Update</a
              >
            </div>
          </li>
          <li class="accordion">
            <!-- accordion header -->
            <div class="flex items-center justify-between">
              <a
                class="leading-1 py-11px text-darkdeep1 font-medium dark:text-whiteColor dark:hover:text-secondaryColor nav-link hover:text-maroon [&[aria-current='page']]:text-maroon [&[aria-current='page']]:underline decoration-customBeige underline-offset-8"
                href="/contact-us">Contact Us</a
              >
            </div>
          </li>
          <!-- <li class="accordion">
                        <div class="flex items-center justify-between">
                            <a
                                class="leading-1 py-11px text-darkdeep1 font-medium hover:text-secondaryColor dark:text-whiteColor dark:hover:text-secondaryColor"
                                href="./pages/ecommerce/shop.html">ECommerce</a
                            >
                            <button class="accordion-controller px-3 py-4">
                                <span
                                    class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor"
                                ></span><span
                                    class="w-[10px] h-[1px] bg-darkdeep1 block dark:bg-whiteColor rotate-90 -mt-[1px] transition-all duration-500"
                                ></span>
                            </button>
                        </div>
                        <div
                            class="accordion-content h-0 overflow-hidden transition-all duration-500"
                        >
                            <div class="content-wrapper">
                                <ul>
                                    <li>
                                        <div
                                            class="flex items-center justify-between"
                                        >
                                            <a
                                                href="./pages/ecommerce/shop.html"
                                                class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium hover:text-secondaryColor dark:text-whiteColor dark:hover:text-secondaryColor"
                                                >Shop
                                                <span
                                                    class="px-15px py-5px text-primaryColor bg-whitegrey3 text-xs rounded ml-5px"
                                                    >Online Store</span
                                                ></a
                                            >
                                        </div>
                                    </li>
                                    <li>
                                        <div
                                            class="flex items-center justify-between"
                                        >
                                            <a
                                                href="./pages/ecommerce/product-details.html"
                                                class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium hover:text-secondaryColor dark:text-whiteColor dark:hover:text-secondaryColor"
                                                >Product Details</a
                                            >
                                        </div>
                                    </li>
                                    <li>
                                        <div
                                            class="flex items-center justify-between"
                                        >
                                            <a
                                                href="./pages/ecommerce/cart.html"
                                                class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium hover:text-secondaryColor dark:text-whiteColor dark:hover:text-secondaryColor"
                                                >Cart</a
                                            >
                                        </div>
                                    </li>
                                    <li>
                                        <div
                                            class="flex items-center justify-between"
                                        >
                                            <a
                                                href="./pages/ecommerce/checkout.html"
                                                class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium hover:text-secondaryColor dark:text-whiteColor dark:hover:text-secondaryColor"
                                                >Checkout</a
                                            >
                                        </div>
                                    </li>
                                    <li>
                                        <div
                                            class="flex items-center justify-between"
                                        >
                                            <a
                                                href="./pages/ecommerce/wishlist.html"
                                                class="leading-1 text-darkdeep1 text-sm pl-15px pt-3 pb-7px font-medium hover:text-secondaryColor dark:text-whiteColor dark:hover:text-secondaryColor"
                                                >Wishlist</a
                                            >
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li> -->
        </ul>
      </div>

      <!-- Mobile menu social area -->
      <div>
        <ul class="absolute bottom-4 flex gap-8 items-center">
          <li>
            <a class="facebook" href="#"
              ><i
                class="icofont icofont-facebook text-fb-color dark:text-whiteColor dark:hover:text-secondaryColor"
              ></i></a
            >
          </li>
          <li>
            <a class="twitter" href="#"
              ><i
                class="icofont icofont-twitter text-twiter-color dark:text-whiteColor dark:hover:text-secondaryColor"
              ></i></a
            >
          </li>
          <li>
            <a class="pinterest" href="#"
              ><i
                class="icofont icofont-pinterest dark:text-whiteColor dark:hover:text-secondaryColor"
              ></i></a
            >
          </li>
          <li>
            <a class="instagram" href="#"
              ><i
                class="icofont icofont-instagram dark:text-whiteColor dark:hover:text-secondaryColor"
              ></i></a
            >
          </li>
          <li>
            <a class="google" href="#"
              ><i
                class="icofont icofont-youtube-play dark:text-whiteColor dark:hover:text-secondaryColor"
              ></i></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<script is:inline>
  // Get all navigation links
  const navLinks = document.querySelectorAll(".nav-link");

  // Get the current page path
  const currentPath = window.location.pathname;

  // Update aria-current for the active link
  navLinks.forEach((link) => {
    if (link.getAttribute("href") === currentPath) {
      link.setAttribute("aria-current", "page");
    } else {
      link.removeAttribute("aria-current");
    }
  });
</script>
