---

---

<div
  class="absolute inset-0 bg-[#7A132B] opacity-0 hover:opacity-15 transition-opacity duration-300 rounded-3xl"
>
</div>

<!-- Card Content -->
<div class="px-4 py-2">
  <p class="text-center text-grey py-2 text-sm">12/34/667</p>
  <a class="flex justify-center" href="#">
    <h5
      class="md:text-xl text-base font-semibold px-4 tracking-tight text-grey text-center mt-2"
    >
      Birmingham Charity Dinner 2024: Celebrating 10 Years of Al-Wahab
      Foundation
    </h5>
  </a>
  <p class="py-2 px-4 text-black text-center font-medium text-base">
    Al-Wahab Foundation’s 10-years celebration Charity Dinner at Crystal Plaza,
    Birmingham turns into a remarkable success
  </p>
  <div
    class="absolute bottom-2 translate-x-24 flex items-center justify-center"
  >
    <a href="#" class="px-6 py-3 inline-flex items-center text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300">
      Read More
    </a>
  </div>
</div>
