---

---
<div class="text-base md:text-lg flex flex-row justify-center">
    <p class="font-semibold py-2">
      Ummah Charity International is now Al-Wahab Foundation
    </p>
  </div>

<div class="fixed bottom-0 z-20 w-screen hidden md:block ">
  <div
    class="bg-maroon py-3 flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 justify-center items-center h-16"
  >
    <!-- Donate Label -->
    <p class="text-white text-base md:text-xl mt-1 whitespace-nowrap">
      DONATE :
    </p>

    <!-- Program Selection -->
    <div class="w-full md:w-auto">
      <select
        class="px-5 py-1 rounded-md text-[#740B2E] focus:ring-[#740B2E] w-60 h-10"
        id="program"
        name="program"
        required
      >
        <option class="text-[#740B2E]" value="" disabled selected
          >Select Program</option
        >
        <option value="program1">Program 1</option>
        <option value="program2">Program 2</option>
        <option value="program3">Program 3</option>
      </select>
    </div>

    <!-- Amount Input -->
    <div class="w-full md:w-auto">
      <div class="flex items-center">
        <p class="text-white mr-4 text-base md:text-xl whitespace-nowrap">
          For :
        </p>
        <p
          class="py-1.5 px-3 h-10 text-lg font-semibold sm:text-base text-white rounded-l-md bg-customBeige"
        >
          £
        </p>
        <input
          class="py-1 md:text-lg sm:text-base w-full md:w-28 h-10 text-maroon rounded-r-md"  
          type="text"
          inputmode="numeric"
          placeholder="Amount"
        />
      </div>
    </div>

    <!-- AS Selection -->
    <div class="w-full md:w-auto">
      <div class="flex items-center">
        <p class="text-white mr-4 md:text-xl text-base whitespace-nowrap">
          AS :
        </p>
        <select
          class="px-5 py-1 rounded-md text-maroon focus:ring-[#740B2E] w-full h-10 md:w-auto"
          id="program"
          name="program"
          required
        >
          <option class="text-maroon duration-300" value="" disabled selected
            >Select Category</option
          >
          <option value="program1">Program 1</option>
          <option value="program2">Program 2</option>
          <option value="program3">Program 3</option>
        </select>
      </div>
    </div>

    <!-- Submit Button -->
    <button
      class="bg-[#c9945a] px-8 py-2 mt-2 rounded-full font-semibold hover:text-[#740B2E] duration-500 text-white text-lg sm:text-base"
    >
      Submit
    </button>
  </div>
</div>
