---
import Layout from "../../layouts/Layout.astro";
---


<Layout>
    <div class="text-center my-2">
        <h1 class="bg-[#740B2E] text-white font-bold text-xl md:text-[50px] py-20">CASE STUDY: 
          IQBAL & FAMILY</h1>
      </div>



    <div class="container mx-auto  p-8 max-w-screen-2xl bg-[#aa71454D]">
        <!-- Title -->
        <div class="text-center mb-10 md:px-32">
          <p class="text-[#740B2E] font-bold text-4xl ">From Hunger to Hope: Al-Wahab Foundation's Food Packs Provide Sustenance to Iqbal & Family</p>
        </div>


        <div class="container px-4 md:px-20 mx-auto">
            <!-- Main Container -->
            <div class="flex flex-col md:flex-row">
              <!-- Image Section -->
              <div class="md:w-1/3 my-auto md:mx-8 flex-shrink-0">
                <img
                  src="https://alwahabfoundation.org/wp-content/uploads/2022/07/3L5A5064-1-768x512.jpg"
                  alt="Water Crisis Image"
                  class="w-96 h-96 object-cover"
                />
              </div>
              <!-- Text Section -->
              <div class=" pt-4 md:pt-0  md:w-2/3">
               
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                Meet Iqbal – a hardworking farmer living in Thar, Pakistan. Like many others in his community, Iqbal was struggling to provide sufficient nourishment for his family of six following his elderly age. His family faced severe food scarcity, leaving all the family members vulnerable to hunger and malnutrition.
                </p>
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                Thar is an agriculturally challenging area causing survival difficult for the locals. The lack of irrigation facilities and limited access to fertile land meant that the villagers cannot grow enough crops to sustain their families. As a result, they were forced to rely on occasional employment opportunities, making it unpredictable to put food on the table.
                </p>
                <p
                class="mt-2 text-grey text-base md:text-lg font-medium text-justify "
              >
              Iqbal, a father of six, spoke about the daily hardships they endured:
              </p>
           <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify ">“My name is Iqbal, and I am a farmer, residing in Thar with my family of six. Life here is a constant struggle for survival. The scarcity of food is a persistent issue, and providing nourishment for my children is a daily challenge. We depend on occasional work opportunities, but they are not enough to ensure a stable supply of food. We often go to bed hungry, and my heart aches to see my children suffer.”</p>
               
              </div>
            
            </div>
          </div>
          <div class="px-4 md:px-20 mx-auto" >
            <p
            class="mt-2 text-grey text-base md:text-lg font-medium text-justify "
          >
          Recognizing the dire situation faced by Iqbal’s family and others in similar circumstances, Al-Wahab Foundation intervened to provide food packs to those in need. These food packs contain essential items including rice, sugar, flour, oil, etc. to serve families with nourishment for an entire month.
          </p>
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">With the support of generous donors, Iqbal and his family had sustenance to make survival easier in such difficult circumstances. He expressed his heartfelt gratitude to Al-Wahab Foundation:</p>
      
          
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify ">“I am greatly thankful to Al-Wahab Foundation and Mufti Abdul Wahab for their understanding and compassion towards our difficulty. The food packs they provided have been a lifeline for my family. We now have enough to eat for the entire month as it includes every food staple ensuring nourishing meal for my family, and my children no longer go to bed hungry. I am truly humbled by this kindness from Al-Wahab Foundation and Mufti Abdul Wahab. We will pray for them every day.”</p>

            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify ">Through this initiative, Al-Wahab Foundation has made a significant impact in Thar for many more families like Iqbal facing food insecurity. The provision of regular and nutritious meals has not only alleviated hunger but also contributed to improving the health and well-being of families like Iqbal’s.</p>
           
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify ">Join hands with Al-Wahab Foundation and extend your support to impoverished families who are suffering due to food shortages. Your generous contributions can bring hope and nourishment to families in need. To donate towards this vital initiative, visit our website <a class="font-bold text-maroon hover:text-customBeige" href="">https://alwahabfoundation.org/all-appeals/food-packs/, </a> or call us at <a class="font-bold text-maroon hover:text-customBeige">020 8903 8944.</a></p>
       
           
          </div>

          <div class="flex justify-center mt-10 sm:mt-12">
            <a
              href="#"
              class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
             DISCOVER MORE 
            </a>
          </div>

      </div>


</Layout>