---
import Layout from "../../layouts/Layout.astro";
---


<Layout>
    <div class="text-center my-2">
        <h1 class="bg-[#740B2E] text-white font-bold text-xl md:text-[50px] py-20">CASE STUDY: 
            ABDULLAH'S EDUCATION</h1>
      </div>



    <div class="container mx-auto  p-8 max-w-screen-2xl bg-[#aa71454D]">
        <!-- Title -->
        <div class="text-center mb-10 md:px-32">
          <p class="text-[#740B2E] font-bold text-4xl ">Hope for Tomorrow: Al-Wahab Foundation's Support for Abdullah's Education</p>
        </div>


        <div class="container px-4 md:px-20 mx-auto">
            <!-- Main Container -->
            <div class="flex flex-col md:flex-row">
              <!-- Image Section -->
              <div class="md:w-1/3 my-auto md:mx-8 flex-shrink-0">
                <img
                  src="https://alwahabfoundation.org/wp-content/uploads/2023/08/IMG_7251-768x511.jpg"
                  alt="Water Crisis Image"
                  class="w-96 h-96 object-cover"
                />
              </div>
              <!-- Text Section -->
              <div class=" pt-4 md:pt-0  md:w-2/3">
               
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                Meet Abdullah – a bright and determined young boy residing in Sindh, Pakistan. Abdullah faced immense barriers in accessing education due to the harsh realities of poverty. With limited financial resources, the dream of receiving proper schooling seemed unattainable for him.
                </p>
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                Sindh, a region marked by economic challenges, made it difficult for families to afford the costs associated with education. As a result, many children like Abdullah were unable to attend school, leaving them without the opportunities for a better future.
                </p>
                <p
                class="mt-2 text-grey text-base md:text-lg font-medium text-justify "
              >
              Abdullah, a young and enthusiastic learner, shared his aspirations:
              </p>
              <p
              class="mt-2 text-grey text-base md:text-lg font-medium text-justify "
            >
            “My name is Abdullah, and I live in Sindh with my family. I have always dreamed of going to school and learning new things. But our financial situation makes it impossible for me to attend school like other children in our neighborhood. It feels like I am left behind, and it’s disheartening to see my dreams being shattered.”
            </p>
               
              </div>
            
            </div>
          </div>
          <div class="px-4 md:px-20 mx-auto" >
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Recognizing the difficulty of children like Abdullah, Al-Wahab Foundation stepped forward to help deprived students through its “Support a Maktab Project.” Through this impactful project, AWF provides Islamic and General education to deprived children who cannot afford to study. The aim is to create an inclusive learning environment where every child can access education and have a chance at a brighter future.</p>
      
          
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify ">With the support of compassionate donors, Al-Wahab Foundation enrolled Abdullah and many other children in Maktab so that they can get educated for a brighter future. Abdullah’s face lit up with joy as he expressed his gratitude to the Al-Wahab Foundation:</p>
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify ">“I am incredibly thankful to the Al-Wahab Foundation and Mufti Abdul Wahab for giving me this opportunity to study through Maktab initiative. Now, I can pursue my dreams and learn like other children. I am eager to learn and grow, and I promise to work hard to make my family proud. I thank to Mufti Abdul Wahab and Al-Wahab Foundation for supporting me so that I can have a brighter future. “</p>
         
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify ">Through the “Support a Maktab Project,” Al-Wahab Foundation has ignited hope and transformed the lives of children like Abdullah, opening doors of opportunity that were once closed to them. By providing education to deprived children, AWF is empowering the future generation to break free from the cycle of poverty and create a brighter tomorrow. Support now by visiting our website <a class="font-bold text-maroon hover:text-customBeige" href="">https://alwahabfoundation.org/all-appeals/maktab/ </a> or call us at <a class="font-bold text-maroon hover:text-customBeige">020 8903 8944.</a></p>
       
           
          </div>

          <div class="flex justify-center mt-10 sm:mt-12">
            <a
              href="#"
              class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
             KNOW MORE 
            </a>
          </div>

      </div>


</Layout>