---
import Layout from "../../layouts/Layout.astro";
---


<Layout>
    <div class="text-center my-2">
        <h1 class="bg-[#740B2E] text-white font-bold text-xl md:text-[50px] py-20">CASE STUDY: MEHWISH ALI'S JOURNEY</h1>
      </div>



    <div class="container mx-auto  p-8 max-w-screen-2xl bg-[#aa71454D]">
        <!-- Title -->
        <div class="text-center mb-10 md:px-28">
          <p class="text-[#740B2E] font-bold text-4xl ">Mehwish Ali in Smiles As She Receives Eid Gift Pack from AWF</p>
        </div>


        <div class="container px-4 md:px-20 mx-auto">
            <!-- Main Container -->
            <div class="flex flex-col md:flex-row">
              <!-- Image Section -->
              <div class="md:w-1/3 my-auto md:mx-8 flex-shrink-0">
                <img
                  src="https://alwahabfoundation.org/wp-content/uploads/2023/01/Mehwish-All-in-Smiles-As-She-Receives-Eid-Gift-Pack-from-AWF-300x169.jpg"
                  alt="Water Crisis Image"
                  class="w-96 h-64 object-cover"
                />
              </div>
              <!-- Text Section -->
              <div class=" pt-4 md:pt-0  md:w-2/3">
               
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                Mehwish All in Smiles As She Receives Eid Gift Pack from AWF

                Meet Mehwish, an innocent girl from a family of 11 who has been attending a Madrassah for 7 years, receiving comprehensive religious and general education. Her father, the sole earner as a butcher, faces the significant challenge of fulfilling the wishes and needs of their large family, especially during occasions like Eid.
                </p>
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                “My father, being a butcher, is the sole provider for our family of 11 members. It’s challenging for him to meet our family’s needs. During Eid, my siblings and I always hope for new clothes to celebrate the occasion.”
                </p>
               
              </div>
            
            </div>
          </div>
          <div class="px-4 md:px-20 mx-auto" >
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Al-Wahab Foundation consistently prioritizes spreading joy by assisting people in ways they need. Just like every year, AWF distributed Eid Gift Packs to families unable to celebrate the festivities with their children.</p>
      
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Expressing her gratitude, Mehwish said,</p>
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">“I want to extend my thanks to Mufti Abdul Wahab and Al-Wahab Foundation for providing us with these Eid Gift Packs and making our Eid truly special.”</p>
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Donate now by visiting our website to contribute Eid Gifts to many more deserving families this year at www.alwahabfoundation.org or call us at 0208 903 8944, and reap the rewards this Ramadan.</p>
           
          </div>

          <div class="flex justify-center mt-10 sm:mt-12">
            <a
              href="#"
              class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
              DONATE EID GIFTS NOW
            </a>
          </div>

      </div>


</Layout>