---
import Layout from "../../layouts/Layout.astro";
---


<Layout>
    <div class="text-center my-2">
        <h1 class="bg-[#740B2E] text-white font-bold text-xl md:text-[50px] py-20">CASE STUDY: MINHA'S  JOURNEY</h1>
      </div>



    <div class="container mx-auto  p-8 max-w-screen-2xl bg-[#aa71454D]">
        <!-- Title -->
        <div class="text-center mb-10 md:px-28">
          <p class="text-[#740B2E] font-bold text-4xl ">Minha Extends Warm Thanks to AWF for Providing Food Packs in Ramadan</p>
        </div>


        <div class="container px-4 md:px-20 mx-auto">
            <!-- Main Container -->
            <div class="flex flex-col md:flex-row">
           
              <!-- Text Section -->
              <div class=" pt-4 md:pt-0  md:w-2/3">
               
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                M Meet Minha, a mother of seven children enduring tough times in the aftermath of the financial crisis. Her 18-year-old eldest son has the responsibility of being the sole breadwinner for the family. Minha’s husband, diagnosed with tuberculosis, is unable to work, leaving them dependent on the income of their eldest son since the other children are still young.
                </p>
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                Reflecting on their challenges, Minha remarked, “Ramadan is a sacred month where everyone aspires to be stress-free, focusing on salah, ibadah, and reaping rewards. However, our financial limitations make it difficult for us to ensure adequate Iftar and Sehr.”
                </p>
                <p
                class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
              >
              Thanks to the generous support of Al-Wahab Foundation and its compassionate donors, Minha’s family didn’t struggle for essential food last Ramadan. Grateful, Minha expressed, “I am humbled by Al-Wahab Foundation and Mufti Abdul Wahab, who assisted us this Ramadan with food packs that fulfilled my family’s needs for Iftar and Sehr throughout the month. May Allah bless them!”
              </p>
              <p
              class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
            >
            This Ramadan, consider donating more food packs to help nourish another family like Minha’s. Your contributions can bring sustenance to the tables of many in need!
            </p>
               
              </div>
                 <!-- Image Section -->
                 <div class="md:w-1/3 my-auto md:mx-8 flex-shrink-0">
                    <img
                      src="https://alwahabfoundation.org/wp-content/uploads/2023/01/Ramadan-Food-Packs-Case-Study-200x300.jpg"
                      alt="Water Crisis Image"
                      class="w-96 h-96  object-cover "
                    />
                  </div>
            
            </div>
          </div>
          <div class="px-4 md:px-20 mx-auto" >
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Our beloved Prophet Muhammad (ﷺ) said,  </p>
      
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">“The best of you are those who feed others.” [Ahmad]</p>
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Visit our website <a class="text-maroon hover:text-customBeige" href="">www.alwahabfoundation.org</a> or call us at 0208 903 8944 and Donate a Ramadan Food Pack for only £50.</p>
       
           
          </div>

          <div class="flex justify-center mt-10 sm:mt-12">
            <a
              href="#"
              class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
              PROVIDE FOOD PACKS IN RAMADAN
            </a>
          </div>

      </div>


</Layout>