---
import Layout from "../../layouts/Layout.astro";
---


<Layout>
    <div class="text-center my-2">
        <h1 class="bg-[#740B2E] text-white font-bold text-xl md:text-[50px] py-20">CASE STUDY: RAZIA'S JOURNEY</h1>
      </div>



    <div class="container mx-auto  p-8 max-w-screen-2xl bg-[#aa71454D]">
        <!-- Title -->
        <div class="text-center mb-10 md:px-28">
          <p class="text-[#740B2E] font-bold text-4xl ">Razia's Heartfelt Thanks: Al-Wahab Foundation's Free Eye Care Camps!</p>
        </div>


        <div class="container px-4 md:px-20 mx-auto">
            <!-- Main Container -->
            <div class="flex flex-col md:flex-row">
              <!-- Image Section -->
              <div class="md:w-1/3 my-auto md:mx-8 flex-shrink-0">
                <img
                  src="https://alwahabfoundation.org/wp-content/uploads/2023/09/Razia-Heartfelt-Thanks.-Al-Wahab-Foundation-Free-Eye-Care-Camps-500x500.jpg"
                  alt="Water Crisis Image"
                  class="w-96 h-96 object-cover"
                />
              </div>
              <!-- Text Section -->
              <div class=" pt-4 md:pt-0  md:w-2/3">
               
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                Meet Razia – a resident of Lyari, an underdeveloped locality in Karachi, Pakistan. Like numerous individuals in her community, Razia faces innumerable challenges in her daily life, primarily stemming from the lack of adequate healthcare facilities that are both accessible and affordable. Among these challenges, Razia has been suffering from eyesight issues that have been compounded by the financial constraints that prevent her from seeking proper medical treatment.
                </p>
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                “My name is Razia and I live in Lyari, an underdeveloped locality where numerous individuals experience various constraints. Our daily lives are challenged by a multitude of problems coming our way, prominently the absence of adequate healthcare facilities, which are also not financially accessible. I’ve been suffering from eyesight issues, hindered by the financial constraints of seeking treatment.”
                </p>
                <p
                class="mt-2 text-grey text-base md:text-lg font-medium text-justify "
              >
            Living in Lyari, Razia has encountered various hurdles that hinder her overall well-being. Razia’s eyesight issues have significantly impacted her quality of life, and her ability to access proper treatment has been restricted by the financial burdens she faces. This situation is representative of the broader struggles faced by Lyari’s residents who find themselves trapped in a cycle of limited resources and restricted opportunities for growth and development.
              </p>
               
              </div>
            
            </div>
          </div>
          <div class="px-4 md:px-20 mx-auto" >
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">However, a glimmer of hope arrived when Al-Wahab Foundation organized an eye care camp within the Lyari community, aiming to provide much-needed assistance to individuals like Razia. Her experience at the eye care camp was a turning point in her journey toward better vision. At the camp, she received not only cost-free consultations but also essential medications to address her eyesight issues. The camp, facilitated by Al-Wahab Foundation, brought hope and relief to Razia and others who had long been burdened by health challenges and financial constraints.</p>
      
          
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify ">For more details, visit our website: <a class="text-maroon hover:text-customBeige font-bold" href="">www.alwahabfoundation.org  </a> or call us at  <a class="text-maroon hover:text-customBeige font-bold" href="">020 8903 8944.</a> A little share can make a big difference!</p>
       
           
          </div>

          <div class="flex justify-center mt-10 sm:mt-12">
            <a
              href="#"
              class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
             KNOW MORE 
            </a>
          </div>

      </div>


</Layout>