---
import Layout from "../../layouts/Layout.astro";
---


<Layout>
    <div class="text-center my-2">
        <h1 class="bg-[#740B2E] text-white font-bold text-xl md:text-[50px] py-20">CASE STUDY: 
          ROSHMAIL</h1>
      </div>



    <div class="container mx-auto  p-8 max-w-screen-2xl bg-[#aa71454D]">
        <!-- Title -->
        <div class="text-center mb-10 md:px-32">
          <p class="text-[#740B2E] font-bold text-4xl ">Roshmail Expresses Immense Gratitude Towards AWF for Providing Him with Rickshaw</p>
        </div>


        <div class="container px-4 md:px-20 mx-auto">
            <!-- Main Container -->
            <div class="flex flex-col md:flex-row">
              <!-- Image Section -->
              <div class="md:w-1/3 my-auto md:mx-8 flex-shrink-0">
                <img
                  src="https://alwahabfoundation.org/wp-content/uploads/2023/08/QUR00879-1a-768x512.jpg"
                  alt="Water Crisis Image"
                  class="w-96 h-96 object-cover"
                />
              </div>
              <!-- Text Section -->
              <div class=" pt-4 md:pt-0  md:w-2/3">
               
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                Meet Roshmail – a hardworking father living in Sindh, Pakistan. He faced immense financial constraints and lived through difficult circumstances amid the increasing cost of living and inflation. Unemployment had taken a toll on his ability to provide for his family, leaving them vulnerable to economic hardships.
                </p>
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                With limited job opportunities and rising living expenses, Roshmail struggled to find stable employment that could sustain his family’s needs. The burden of financial responsibility weighed heavily on his shoulders, making it a constant battle to secure a stable income source.
                </p>
                <p
                class="mt-2 text-grey text-base md:text-lg font-medium text-justify "
              >
              Roshmail, a father of four, expressed his hardships:
              </p>
           <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify ">“My name is Roshmail, and I reside in Sindh with my family. Our lives have been challenging due to the lack of stable employment. Providing for my children and meeting their needs has become a difficult task. I longed for a sustainable source of income to ensure a better life for my family, but the circumstances made it difficult to find opportunities.”</p>
               
              </div>
            
            </div>
          </div>
          <div class="px-4 md:px-20 mx-auto" >
            <p
            class="mt-2 text-grey text-base md:text-lg font-medium text-justify "
          >
          Understanding the dire need of Roshmail and his family, Al-Wahab Foundation stepped forward to provide him with a rickshaw. This act of compassion and support aimed to offer Roshmail a sustainable source of income, allowing him to become a rickshaw driver and earn a livelihood for his family.
          </p>
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Roshmail expressed his heartfelt gratitude to Al-Wahab Foundation:</p>
      
          
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify ">“I am deeply thankful to Al-Wahab Foundation and Mufti Abdul Wahab for providing me with this rickshaw. I can now earn a sustainable income to support my loved ones. May Allah (SWT) bless Mufti Abdul Wahab and the dedicated team of Al-Wahab Foundation for their kindness and support during our time of need.”</p>
           
           
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify ">Through our Rozgar Project, Al-Wahab Foundation has made a significant impact by transforming life for Roshmail and his family. Your generous donations can make a difference in providing sustainable livelihoods to those facing unemployment and financial constraints. To donate towards this transformative initiative, visit our website <a class="font-bold text-maroon hover:text-customBeige" href="">https://alwahabfoundation.org/all-appeals/rozgar-project/ </a> or call us at <a class="font-bold text-maroon hover:text-customBeige">020 8903 8944.</a></p>
       
           
          </div>

          <div class="flex justify-center mt-10 sm:mt-12">
            <a
              href="#"
              class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
             KNOW MORE 
            </a>
          </div>

      </div>


</Layout>