---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="text-center my-2">
    <h1 class="bg-[#740B2E] text-white font-bold text-xl md:text-[50px] py-20">CASE STUDY: SALEEM'S JOURNEY</h1>
  </div>


<!--Banner end -->

  <div class="container mx-auto  p-8 max-w-screen-2xl bg-[#aa71454D]">
    <!-- Title -->
    <div class="text-center mb-10 md:px-24">
      <p class="text-[#740B2E] font-bold text-4xl">Saleem Extends Heartfelt Thanks for Qurbani Meat to AWF</p>
    </div>
    <div class="px-4 md:px-20 mx-auto" >
      <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Meet Saleem and his wife Zareena, who live in the remote regions of Sindh, struggling to make ends meet. Saleem works as a mercenary, the sole provider for their family of nine children—five daughters and four sons—making it difficult to sustain their basic needs.</p>

      <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">“My name is Saleem, and my wife is Zareena. I work as a mercenary. We have five daughters and four sons. As the sole breadwinner, I face immense pressure and struggle daily to provide for our needs. Despite my relentless efforts, it is often challenging to make ends meet. My children suffer the most from this situation, and it’s so painful to see.”</p>
      <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Due to a lack of basic facilities and limited earning opportunities in their area, many families like Saleem’s find survival difficult. Every day is a battle to secure food, and there are times when they go without eating. Meat is an unaffordable luxury, but on Eid Al-Adha, if they receive Qurbani meat, they cook and store it to enjoy a hearty meal for a few days.</p>
      <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">“Our income barely covers our basic necessities, and there are times when we have nothing to eat. We cannot afford meat, and we rely on Qurbani meat to sustain us for a few days when we are fortunate enough to receive it.”</p>
      <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Recognizing the hardships of such deprived families, Al-Wahab Foundation strives to include them in the Eid festivities by following the Sunnah of Prophet Ibrahim (A.S). Under the guidance of Chairman Mufti Abdul Wahab, AWF distributes sacrificial meat through the Qurbani Project. Saleem and his family are among the grateful beneficiaries, cherishing the meat they receive on Eid Al-Adha.</p>
    </div>
<!--section -->
    <div class="container px-4 md:px-20 mx-auto">
      <!-- Main Container -->
      <div class="flex flex-col md:flex-row">
        <!-- Image Section -->
        
        <!-- Text Section -->
        <div class=" pt-4 md:pt-0  md:w-2/3">
         
          <p
            class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
          >
          “I am deeply grateful to the Al-Wahab Foundation for their generous support and for providing us with Qurbani meat. We pray that they earn immense rewards in this world and the hereafter.”
          </p>
          <p
            class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
          >
          You can help us reach many more families this Eid Al-Adha 2024 by booking your Qurbani with Al-Wahab Foundation. Visit <a class="text-maroon hover:text-customBeige" href="">https://alwahabfoundation.org/all-appeals/qurbani/</a> or call us at 020 8903 8944.
          </p>
        </div>
        <div class="md:w-1/3 my-auto md:mx-8 flex-shrink-0">
          <img
            src="https://alwahabfoundation.org/wp-content/uploads/2024/06/Qurbani-Case-Study-300x200.jpg"
            alt="Water Crisis Image"
            class="w-80 h-52 object-cover"
          />
        </div>
      </div>
    </div>

    <div class="flex justify-center mt-10 sm:mt-12">
      <a
        href="#"
        class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
      >
        DONATE NOW
      </a>
    </div>
  </div>


      
      
</Layout>