---
import Layout from "../../layouts/Layout.astro";
---


<Layout>
    <div class="text-center my-2">
        <h1 class="bg-[#740B2E] text-white font-bold text-xl md:text-[50px] py-20">CASE STUDY: KALEEM & HIS FAMILY JOURNEY</h1>
      </div>



    <div class="container mx-auto  p-8 max-w-screen-2xl bg-[#aa71454D]">
        <!-- Title -->
        <div class="text-center mb-10 md:px-24">
          <p class="text-[#740B2E] font-bold text-4xl ">Your Generosity Provided Kaleem and His Family with Iftar Packs in Ramadan 2023</p>
        </div>


        <div class="container px-4 md:px-20 mx-auto">
            <!-- Main Container -->
            <div class="flex flex-col md:flex-row">
              <!-- Image Section -->
              <div class="md:w-1/3 my-auto md:mx-8 flex-shrink-0">
                <img
                  src="https://alwahabfoundation.org/wp-content/uploads/2024/02/Generosity-Provided-Kaleem-and-His-Family-with-Iftar-Packs-in-Ramadan-2023-300x200.jpg"
                  alt="Water Crisis Image"
                  class="w-96 h-96 object-cover"
                />
              </div>
              <!-- Text Section -->
              <div class=" pt-4 md:pt-0  md:w-2/3">
               
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                Kaleem resides in Babu Bethani Goth, Sindh, supporting a family of ten as a labourer with an unpredictable income. His daily earnings of 18,000 are insufficient to cover the needs of his four daughters and five sons. As the sole breadwinner, Kaleem faces varying circumstances each day, presenting a constant challenge.
                </p>
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                During Ramadan, ensuring his family did not miss suhoor or experience scarcity during iftar was a significant struggle for Kaleem. Reflecting on his profession, he shared,
                </p>
                <p
                class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
              >
              “I have been working as a laborer for many years now. The income in this field is uncertain, leading to instability for most workers’ families. During Ramadan, when we aim to concentrate on fasting, our focus shifts to arranging meals for the kids due to the unpredictability of our earnings. These fluctuations are a part of our life.”
              </p>
               
              </div>
            
            </div>
          </div>
          <div class="px-4 md:px-20 mx-auto" >
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Kaleem was among many individuals worried about meeting nutritional needs last Ramadan. However, with the support of compassionate donors and Al-Wahab Foundation, as it does every year, extended a helping hand to him and numerous other underprivileged families. AWF provides Iftar packs to those in greatest need, comprising a nutritious and considerable meal for the entire family.</p>
      
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Expressing his gratitude, Kaleem stated,</p>
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">“I want to express my thanks to Mufti Abdul Wahab, Al-Wahab Foundation, and everyone who contributed to this noble cause. Your generosity has allowed us to have a peaceful Ramadan without concerns about iftar meals. Allah has been kind, and it is your benevolence that has enabled my family to observe fasts comfortably this Ramadan.”</p>
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">The Prophet (saw) said, ‘Whoever feeds a person breaking his fast will earn the same reward as him, without anything being lessened from the reward of the fasting person’. [Tirmidhi]</p>
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Donate now by visiting our website <a class="text-maroon hover:text-customBeige" href="">www.alwahabfoundation.org</a> or calling us at 0208 903 8944, and reap your rewards this Ramadan.</p>
       
           
          </div>

          <div class="flex justify-center mt-10 sm:mt-12">
            <a
              href="#"
              class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
              DONATE IFTAR PACKS IN RAMDAN
            </a>
          </div>

      </div>


</Layout>