---
import Layout from "../../layouts/Layout.astro";
---


<Layout>
    <div class="text-center my-2">
        <h1 class="bg-[#740B2E] text-white font-bold text-xl md:text-[50px] py-20">CASE STUDY: SHEHNAZ RIAZ'S JOURNEY</h1>
      </div>



    <div class="container mx-auto  p-8 max-w-screen-2xl bg-[#aa71454D]">
        <!-- Title -->
        <div class="text-center mb-10 md:px-24">
          <p class="text-[#740B2E] font-bold text-4xl">Your Zakat Donation Gave the Gift of Sight to Shehnaz Riaz in Ramadan 2023</p>
        </div>


        <div class="container px-4 md:px-20 mx-auto">
            <!-- Main Container -->
            <div class="flex flex-col md:flex-row">
              <!-- Image Section -->
              <div class="md:w-1/3 my-auto md:mx-8 flex-shrink-0">
                <img
                  src="https://alwahabfoundation.org/wp-content/uploads/2024/02/Your-Zakat-Donation-Gave-the-Gift-of-Sight-to-Shehnaz-Riaz-in-Ramadan-2023-300x200.jpg"
                  alt="Water Crisis Image"
                  class="w-96 h-80 object-cover"
                />
              </div>
              <!-- Text Section -->
              <div class=" pt-4 md:pt-0  md:w-2/3">
               
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                Meet Shehnaz Riaz, a resident of the New Karachi locality and a member of a five-person family where financial responsibilities are shared by two individuals.
                </p>
                <p
                  class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
                >
                Shehnaz endured vision-related issues for over five years, stating,
                </p>
                <p
                class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
              >
              “I have been dealing with vision problems. Although one of my one eye underwent surgery earlier, my resources were limited for the operation on the second eye.”
              </p>
              <p
              class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
            >
            Thanks to the generous Zakat donations from our esteemed donors, Al-Wahab Foundation organized free eye camps in an underprivileged area of Karachi. Upon learning about the eye camp, Shehnaz seized the opportunity to have her eyes examined.
            </p>
              </div>
            
            </div>
          </div>
          <div class="px-4 md:px-20 mx-auto" >
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">Describing her experience, Shehnaz expressed,</p>
      
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">“The team went beyond a simple assessment, providing a comprehensive eye check-up. Furthermore, they identified the need for cataract surgery, essential for one of my eyes. On the surgery day, Al-Wahab Foundation arranged transportation for patients like me. Their dedication extended to ensuring we were well-fed with nutritious meals during this period. The entire surgical process was made seamless and hassle-free by their efforts. I express deep gratitude and pray for blessings from Allah for Al-Wahab Foundation team and Mufti Abdul Wahab. Their selflessness and generosity have left a lasting impact on me.”</p>
            <p class="mt-2 text-grey text-base md:text-lg font-medium text-justify">To donate your Zakat this Ramadan to Al-Wahab Foundation, visit our website www.alwahabfoundation.org or call us at 020 8903 8944.</p>
           
          </div>

          <div class="flex justify-center mt-10 sm:mt-12">
            <a
              href="#"
              class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
              DONATE NOW
            </a>
          </div>

      </div>


</Layout>