---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/assets/images/favicon.png" />

		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="/assets/images/favicon.ico"
		/>
		<!-- link stylesheet -->
		<link rel="stylesheet" href="/assets/css/icofont.min.css" />
		<link rel="stylesheet" href="/assets/css/video-modal.css" />
		<link rel="stylesheet" href="/assets/css/aos.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
			integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"

		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Islamic Charity In UK | Help People In Need With AWF</title>
	</head>
	<body class="relative font-normal text-base leading-[1.8] bg-whiteColor">
		<!-- theme controller -->
		<div
			class="hidden top-[100px] 2xl:top-[300px] transition-all duration-300 right-[-50px] hover:right-0 z-xl"
		>
			<button
				class="theme-controller w-90px h-10 bg-primaryColor dark:bg-whiteColor-dark rounded-l-lg2 text-whiteColor px-10px flex items-center dark:shadow-theme-controller"
			>
			</button>
		</div>
		<!-- scroll up button -->
		<div>
			<button
				class="scroll-up w-50px h-50px leading-50px text-center text-maroon bg-white hover:text-customBeige hover:bg-maroon rounded-full fixed right-5 bottom-[60px] shadow-scroll-up z-medium text-xl hidden"
			>
				<i class="icofont-rounded-up text-2xl"></i>
			</button>
		</div>
		<Header />
		<slot />
		<Footer />
	</body>
	<script is:inline src="/assets/js/swiper-bundle.min.js"></script>
	<script is:inline src="/assets/js/isotope.pkgd.min.js"></script>
	<script is:inline src="/assets/js/accordion.js"></script>
	<script is:inline src="/assets/js/chart.js"></script>
	<script is:inline src="/assets/js/count.js"></script>
	<script is:inline src="/assets/js/countdown.js"></script>
	<script is:inline src="/assets/js/counterup.js"></script>
	<script is:inline src="/assets/js/dropdown.js"></script>
	<script is:inline src="/assets/js/filter.js"></script>
	<script is:inline src="/assets/js/mobileMenu.js"></script>
	<script is:inline src="/assets/js/modal.js"></script>
	<script is:inline src="/assets/js/popup.js"></script>
	<!-- <script is:inline src="/assets/js/preloader.js"></script> -->
	<script is:inline src="/assets/js/scrollUp.js"></script>
	<script is:inline src="/assets/js/slider.js"></script>
	<script is:inline src="/assets/js/smoothScroll.js"></script>
	<script is:inline src="/assets/js/stickyHeader.js"></script>
	<script is:inline src="/assets/js/tabs.js"></script>
	<script is:inline src="/assets/js/theme.js"></script>
	<script is:inline src="/assets/js/videoModal.js"></script>
	<script is:inline src="/assets/js/vanilla-tilt.js"></script>
	<script is:inline src="/assets/js/aos.js"></script>
	<script is:inline src="/assets/js/main.js"></script>
	
	<script
		is:inline
		src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
	></script>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
