---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="relative w-full my-10">
        <img
            class="w-full h-auto"
            src="/assets/images/website-banner-EYE.jpg"
            alt=""
            srcset=""
        />
        <div
            class="absolute inset-0 bg-gradient-to-t from-maroon via-transparent to-[#94434A00] opacity-80"
        >
        </div>
        <p
            class="absolute inset-0 flex justify-center md:top-[350px] md:text-4xl px-10 text-center font-bold text-[#ffff]"
        >
        Birmingham Charity Dinner 2024: Celebrating 10 Years of Al-Wahab Foundation
        </p>
        <div class="flex absolute inset-0 top-[450px] justify-center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="stroke-customBeige"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-calendar-days"
            >
                <path d="M8 2v4"></path>
                <path d="M16 2v4"></path>
                <rect width="18" height="18" x="3" y="4" rx="2"></rect>
                <path d="M3 10h18"></path>
                <path d="M8 14h.01"></path>
                <path d="M12 14h.01"></path>
                <path d="M16 14h.01"></path>
                <path d="M8 18h.01"></path>
                <path d="M12 18h.01"></path>
                <path d="M16 18h.01"></path>
            </svg>
            <p class="mx-1 text-[#ffff] font-medium text-base md:text-lg">
                November 26,2024
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row px-20 my-10">
            <p class="text-grey text-base">
                Like every year, Chairman Al-Wahab Foundation, Mufti Abdul Wahab
                recently embarked on a journey to provide relief and hope in
                Pakistan with a focus on bringing assistance to underserved
                communities through various projects. Here’s an overview of his
                impactful Pakistan Relief Trip and humanitarian efforts done
                there.
            </p>
        </div>
    </div>
    <div class="container mx-auto px-4 md:px-20">
        <!-- Main Container -->
        <div class="flex flex-col flex-wrap md:flex-nowrap md:flex-row">
            <!-- Text Section -->
            <div class="md:w-2/3">
                <h2 class="md:text-2xl text-lg text-maroon font-bold">
                    Pakistan’s Water Crisis
                </h2>
                <p
                    class="mt-2 text-grey text-base md:text-lg font-semibold text-justify"
                >
                    Despite <a
                        href="#"
                        class="font-bold text-maroon hover:text-customBeige"
                        >recent floods</a
                    >, water is still scarce in parts of Pakistan. Only 40% of
                    Pakistani people have reliable access to safe drinking
                    water. With a growing population, high levels of poverty,
                    and plagued by natural disasters, Pakistan is facing a water
                    crisis.
                </p>
                <p
                    class="mt-2 text-grey text-base md:text-lg font-semibold text-justify"
                >
                    Children and the elderly are the most at risk from
                    water-borne illness and poor sanitation. Almost half of
                    deaths in the country are related to the contaminated water
                    supply. At Al-Wahab Foundation, our priority is to ensure
                    that underprivileged communities have access to clean
                    drinking water to protect and save their lives. From
                    sustainable and <span class="font-bold"
                        >well-maintained water pumps to water wells</span
                    >, your donation can help us achieve our goal. Donate water
                    pump in Pakistan and help those in need.
                </p>
            </div>

            <!-- Image Section -->
            <div
                class="md:w-1/3 md:mx-8 pt-4 md:pt-0 flex-shrink-0 justify-center items-center"
            >
                <img
                    src="/assets/images/appeals/water/image1.jpg"
                    alt="Water Crisis Image"
                    class="w-96 h-80 object-cover"
                />
            </div>
        </div>
    </div>
    <div class="container mx-auto px-4 md:px-20">
        <!-- Main Container -->
        <div class="flex flex-col md:flex-row">
            <!-- Text Section -->
            <div class="md:w-2/3">
                <h2 class="md:text-2xl text-lg text-maroon font-bold">
                    Pakistan’s Water Crisis
                </h2>
                <p
                    class="mt-2 text-grey text-base md:text-lg font-semibold text-justify"
                >
                    Despite <a
                        href="#"
                        class="font-bold text-maroon hover:text-customBeige"
                        >recent floods</a
                    >, water is still scarce in parts of Pakistan. Only 40% of
                    Pakistani people have reliable access to safe drinking
                    water. With a growing population, high levels of poverty,
                    and plagued by natural disasters, Pakistan is facing a water
                    crisis.
                </p>
                <p
                    class="mt-2 text-grey text-base md:text-lg font-semibold text-justify"
                >
                    Children and the elderly are the most at risk from
                    water-borne illness and poor sanitation. Almost half of
                    deaths in the country are related to the contaminated water
                    supply. At Al-Wahab Foundation, our priority is to ensure
                    that underprivileged communities have access to clean
                    drinking water to protect and save their lives. From
                    sustainable and <span class="font-bold"
                        >well-maintained water pumps to water wells</span
                    >, your donation can help us achieve our goal. Donate water
                    pump in Pakistan and help those in need.
                </p>
            </div>

            <!-- Image Section -->
            <div
                class="md:w-1/3 md:mx-8 pt-4 md:pt-0 flex-shrink-0 justify-center items-center"
            >
                <img
                    src="/assets/images/appeals/water/image1.jpg"
                    alt="Water Crisis Image"
                    class="w-96 h-80 object-cover"
                />
            </div>
        </div>
    </div>
    <div class="container mx-auto md:px-8">
        <div class="row px-4 md:px-16">
            <p class="text-xl md:text-2xl text-maroon font-bold sm:mt-10">
                What is Al-Wahab Foundation has achieved so far?
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base md:text-lg font-medium text-justify"
            >
                At Al-Wahab Foundation we believe in <a
                    href="#"
                    class="text-maroon font-bold hover:text-customBeige"
                    >serving humanity</a
                > with compassion and generosity, to relieve the hardships of those
                who are disadvantaged or suffering. Our mission is to expand our
                network to serve more people, especially in the vulnerable areas
                of Pakistan where water remains unsafe or unavailable due to lack
                of infrastructure. With your help, we can reach communities in remote
                areas and ensure that your donations support those in the greatest
                need. <span class="font-bold">Donate water well</span> or <span
                    class="font-bold">water pump</span
                > now to help people access water that is clean and safe.
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-bold text-justify"
            >
                <i> Here is an overview of what we have achieved so far:</i>
            </p>
            <p
                class="mt-2 text-maroon font-medium text-base md:text-xl text-justify"
            >
                Water Pump Charity & Installation
            </p>
            <p
                class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
            >
                With your <a
                    href="#"
                    class="text-maroon hover:text-customBeige font-bold"
                    >Sadaqah</a
                > and <a
                    href="#"
                    class="text-maroon hover:text-customBeige font-bold"
                    >Zakat donation</a
                >, we are on the ground working to transform lives for those who
                need it the most. For more than 10 years, <span
                    class="font-bold">Al-Wahab Foundation</span
                > has been working in rural areas across Pakistan, installing freshwater
                sources to provide clean water. To date, we have installed 4,772
                hand pumps facilitating 121,800 beneficiaries and we aim to expand
                it for a better reach out with your continued support to water pump
                project.
            </p>
            <p
                class="mt-5 text-maroon font-bold text-xl md:text-2xl text-justify"
            >
                Water Well Donation & Installationn
            </p>
            <p
                class="mt-2 text-grey text-base sm:text-lg font-semibold text-justify"
            >
                Your contribution towards our <span class="font-bold"
                    >Water for Life project</span
                > is the driving force behind our transformative work, reaching those
                who need it most. Al-Wahab Foundation has been actively operating
                in rural areas across Pakistan, ensuring access to clean water by
                supporting water well project. We have accomplished installing 443
                water wells providing fresh water sources to 110,750 beneficiaries.
            </p>
        </div>
    </div>
    <div class="container mx-auto px-4 md:px-20 py-8">
        <!-- Main Container -->
        <div class="flex flex-col md:flex-row">
            <!-- Text Section -->
            <div class="md:w-2/3">
                <h2 class="md:text-2xl text-lg text-maroon font-bold">
                    Pakistan’s Water Crisis
                </h2>
                <p
                    class="mt-2 text-grey text-base md:text-lg font-semibold text-justify"
                >
                    Despite <a
                        href="#"
                        class="font-bold text-maroon hover:text-customBeige"
                        >recent floods</a
                    >, water is still scarce in parts of Pakistan. Only 40% of
                    Pakistani people have reliable access to safe drinking
                    water. With a growing population, high levels of poverty,
                    and plagued by natural disasters, Pakistan is facing a water
                    crisis.
                </p>
                <p
                    class="mt-2 text-grey text-base md:text-lg font-semibold text-justify"
                >
                    Children and the elderly are the most at risk from
                    water-borne illness and poor sanitation. Almost half of
                    deaths in the country are related to the contaminated water
                    supply. At Al-Wahab Foundation, our priority is to ensure
                    that underprivileged communities have access to clean
                    drinking water to protect and save their lives. From
                    sustainable and <span class="font-bold"
                        >well-maintained water pumps to water wells</span
                    >, your donation can help us achieve our goal. Donate water
                    pump in Pakistan and help those in need.
                </p>
            </div>

            <!-- Image Section -->
            <div
                class="md:w-1/3 md:mx-8 pt-4 md:pt-0 flex-shrink-0 justify-center items-center"
            >
                <img
                    src="/assets/images/appeals/water/image1.jpg"
                    alt="Water Crisis Image"
                    class="w-96 h-80 object-cover"
                />
            </div>
        </div>
    </div>
    <div class="container mx-auto md:px-8">
        <div class="row px-4 md:px-16">
            <p class="text-xl md:text-2xl text-maroon font-bold sm:mt-10">
                What is Al-Wahab Foundation has achieved so far?
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base md:text-lg font-medium text-justify"
            >
                At Al-Wahab Foundation we believe in <a
                    href="#"
                    class="text-maroon font-bold hover:text-customBeige"
                    >serving humanity</a
                > with compassion and generosity, to relieve the hardships of those
                who are disadvantaged or suffering. Our mission is to expand our
                network to serve more people, especially in the vulnerable areas
                of Pakistan where water remains unsafe or unavailable due to lack
                of infrastructure. With your help, we can reach communities in remote
                areas and ensure that your donations support those in the greatest
                need. <span class="font-bold">Donate water well</span> or <span
                    class="font-bold">water pump</span
                > now to help people access water that is clean and safe.
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-bold text-justify"
            >
                <i> Here is an overview of what we have achieved so far:</i>
            </p>
            <p
                class="mt-2 text-maroon font-medium text-base md:text-xl text-justify"
            >
                Water Pump Charity & Installation
            </p>
            <p
                class="mt-2 text-grey text-base md:text-lg font-medium text-justify"
            >
                With your <a
                    href="#"
                    class="text-maroon hover:text-customBeige font-bold"
                    >Sadaqah</a
                > and <a
                    href="#"
                    class="text-maroon hover:text-customBeige font-bold"
                    >Zakat donation</a
                >, we are on the ground working to transform lives for those who
                need it the most. For more than 10 years, <span
                    class="font-bold">Al-Wahab Foundation</span
                > has been working in rural areas across Pakistan, installing freshwater
                sources to provide clean water. To date, we have installed 4,772
                hand pumps facilitating 121,800 beneficiaries and we aim to expand
                it for a better reach out with your continued support to water pump
                project.
            </p>
            <p
                class="mt-5 text-maroon font-bold text-xl md:text-2xl text-justify"
            >
                Water Well Donation & Installationn
            </p>
            <p
                class="mt-2 text-grey text-base sm:text-lg font-semibold text-justify"
            >
                Your contribution towards our <span class="font-bold"
                    >Water for Life project</span
                > is the driving force behind our transformative work, reaching those
                who need it most. Al-Wahab Foundation has been actively operating
                in rural areas across Pakistan, ensuring access to clean water by
                supporting water well project. We have accomplished installing 443
                water wells providing fresh water sources to 110,750 beneficiaries.
            </p>
        </div>
    </div>

    <div class="container my-10">
        <div class="row md:px-20">
            <!-- Header Section -->
            <div class="bg-maroon">
                <p
                    class="px-4 text-white font-bold text-xl sm:text-2xl md:text-3xl py-4"
                >
                    <i>Latest Updates & Blogs</i>
                </p>
                <p class="flex-grow border-t border-1 border-[#ffff]"></p>
            </div>

            <!-- Content Section -->
            <div
                class="bg-maroon flex flex-wrap md:flex-nowrap justify-between px-4 sm:px-10 py-6 md:py-10 text-base sm:text-lg md:text-xl font-medium text-white"
            >
                <!-- Column 1 -->
                <div class="w-full md:w-1/3 mb-6 md:mb-0 md:px-4">
                    <p class="my-4">Journey Through a Decade</p>
                    <p
                        class="flex-grow border-t border-1 hover:border-customBeige border-[#ffff]"
                    >
                    </p>

                    <p class="my-4">Pay Zakat Online</p>
                    <p
                        class="flex-grow border-t border-1 hover:border-customBeige border-[#ffff]"
                    >
                    </p>

                    <p class="my-4">Where Most Needed</p>
                    <p
                        class="flex-grow border-t border-1 hover:border-customBeige border[#ffff]"
                    >
                    </p>

                    <p class="my-4">AWF Water Appeal</p>
                    <p
                        class="flex-grow border-t border-1 hover:border-customBeige border-[#ffff]"
                    >
                    </p>
                </div>

                <!-- Column 2 -->
                <div class="w-full md:w-1/3 mb-6 md:mb-0 md:px-4">
                    <p class="my-4">Serving Humanity to Alleviate Hunger</p>
                    <p
                        class="flex-grow border-t border-1 hover:border-customBeige border-[#ffff]"
                    >
                    </p>

                    <p class="my-4">The Impact of Regular Giving</p>
                    <p
                        class="flex-grow border-t border-1 hover:border-customBeige border-[#ffff]"
                    >
                    </p>

                    <p class="my-4">The Power to Donate a Water Well</p>
                    <p
                        class="flex-grow border-t border-1 hover:border-customBeige border-[#ffff]"
                    >
                    </p>

                    <p class="my-4">Chairman’s Visit To Pakistan</p>
                    <p
                        class="flex-grow border-t border-1 hover:border-customBeige border-[#ffff]"
                    >
                    </p>
                </div>

                <!-- Column 3 -->
                <div class="w-full md:w-1/3 md:px-4">
                    <p class="my-4">AWF Global Winter Appeal</p>
                    <p
                        class="flex-grow border-t border-1 hover:border-customBeige border-[#ffff]"
                    >
                    </p>

                    <p class="my-4">Ramadan Timetable 2025</p>
                    <p
                        class="flex-grow border-t border-1 hover:border-customBeige border-[#ffff]"
                    >
                    </p>

                    <p class="my-4">5 ways to give Sadaqah</p>
                    <p
                        class="flex-grow border-t border-1 hover:border-customBeige border-[#ffff]"
                    >
                    </p>

                    <p class="my-4">The Impact Our Donors</p>
                    <p
                        class="flex-grow border-t border-1 hover:border-customBeige border-[#ffff]"
                    >
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>
